
#entity-categories-window {
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  width: 92%;
  height: 88%;
  left: 4%;
  top: 6%;
  position: fixed;
  background: white;
  border: 2px solid #ddd;

  .inner {
    padding: 0px 0;
    display: flex;
    height: 100%;

    h3 {
      position: absolute;
      padding: 0;
      margin: 0;
      top: 15px;
      left: 0px;
      width: 100%;
      text-align: center;
      color: #666;
    
    }   
    .category-hierarchy {
      background: #f6f6f6;
      width: 30%;
      padding: 20px 40px;
      padding-top: 70px;
      height: 100%;
      box-sizing: border-box;
      position: relative;
      .special-textarea-validation {
        background: #eee;
        border: 2px solid #ddd;
        border-right: none;
      }
      textarea {
        margin: 0;
        width: 100%;
        height: 620px;
      }
    }
    .category-tree {
      padding-top:50px;
      box-sizing: border-box;
      width: 70%;     
      position: relative;
    }
    .close {
      cursor: pointer;
      user-select: none;
      position: absolute;
      top: -5px;
      right: 5px;
      color: #777;
      padding: 15px;
      font-size: 32px;
      &:hover {
        color: $primary-blue;
      }
      span {
        font-size: 18px;
        vertical-align: middle;
        display: inline-block;
        margin-top: -6px;
      }
    }
  }
  label {
    text-align: center;
    color: #777;
    width: 100%;
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: bold;

  }
  select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }


}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node.unnamed {
  /*outline: 1px dashed #ddd;*/
}

.node text {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.node text:hover {
  text-decoration: underline;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#svg-entity-categories {
  background: #fff;
  width: 100%;
}

#category-hierarchy-error {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #888;
  text-align: center;
}

.new-node-form-error {
  color: $primary-red;
}

.d3-context-menu form input.submit-fail {
  margin-left: 60%;
  width: 40%;
}