@import "mixins";

#dashboard a.dashboard-hover {
	&:hover {
		text-decoration: none;
	}
	text-decoration: none;
}

table.dashboard-project {

	color: #222;

	
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: 40px;
	&:hover {
		border: 1px solid $primary-red;
		cursor: pointer;
	}

	th {
		padding: 12px 24px;
		background: white;
		border-bottom: 1px solid #ccc;
	}

	table {
		width: 100%;
		background: #f6f6f6;

		td, th {
			padding: 12px 24px;
			text-align: center;
		}
		th {
			background: none;		
			border: none;
			span {
				border-bottom: 1px solid #ddd;
				padding: 0 30px;
				padding-bottom: 4px;
			}
			font-size: 18px;
			margin: 0;
			padding: 0;
			margin-bottom: 6px;
		}
		td, th {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		tr td:nth-child(1), td th:nth-child(1) {
			width: 30%;
		}
		 tr td:nth-child(2), tr th:nth-child(2) {
		 	width: 25%;
		 }



		ul.metadata {
			font-size: 14px;
			color: #777;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 10px;
				&:not(:last-child):after {
					margin: 0 20px 0 40px;
					content: "|";
					color: #ccc;

				}
			}
		}

		span.desc {
			color: #555;
		}
		span.progress-bar {
			color: #eee;
			border: 1px solid darken($primary-red-dark, 9);
			display: inline-block;
			width: 100%;
			padding: 0;
			text-align: left;
			background: darken($primary-red-dark, 7);
			.inner {
				transition: width 0.5s ease;
				background: linear-gradient(lighten($primary-red-dark, 16), lighten($primary-red-dark, 10));
				width: 0%;
				padding: 0;
				display: inline-block;
				text-align: center;
			}
		}
	}

	





}