@import "mixins";



nav#navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	background: $primary-color;
	padding: 0px 0;
	height: $navbar-height;
	box-sizing: border-box;
	//box-shadow: 1px 1px 5px -2px darken($primary-color, 40);
	color: white;
}

nav#navbar .navbar-left {
	position: absolute;
	right: 0;
	left: 0;	
	width: 20%;			
	margin-left: 12px;
	display: table;
	height: 100%;
}
#logo {
	font-weight: bold;
	vertical-align: middle;
	display: table-cell;
	a {
		text-decoration: none;
		color: #eee;
		&:hover {
			color: white;
		}
	}
}

nav#navbar .navbar-right {
	position: absolute;
	right: 0;
	top: 0;	
	margin-top: 5px;
	margin-right: 8px;	
	/*width: 190px;	*/	
}
nav#navbar .navbar-right input, nav#navbar .navbar-right button {
	height: 36px;
}

button#save-to-file {
	font-family: "Open Sans", sans-serif;

	box-sizing: border-box;
	cursor: pointer;
	text-align: center;	
	margin-left: 10px;
}


input#jump-to-batch {
	padding-left: 8px;
	width: 135px;
}
button#jump-to-batch-go {
	width: 40px;
	text-align: center;	
	cursor: pointer;

}