@import "mixins";



nav#navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	background: $primary-color;
	
	padding: 0px 0;
	height: $navbar-height;
	box-sizing: border-box;
	//box-shadow: 1px 1px 5px -2px darken($primary-color, 40);
	color: white;
	display: flex;
}

nav#navbar .navbar-left {
	width: 17.5%;			
	height: 100%;
}
.award-stars {
	color: $primary-gold;
}
#logo {
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
	border-left: 1px solid rgba(0, 0, 0, 0);
	border-right: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	span.inner {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #444;
		padding: 0 15px;
		padding-left: 10px;
		border-radius: 5px;
		overflow: hidden;
		background: url('/images/triangles3.png');
		background-size: cover;		
	}

	span.img {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	img {
		width: auto;
		height: 100%;
	}
	a {

		padding: 5px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
		color: #eee;
		text-shadow: 2px 2px #111;
		&:hover {
			color: white;
			span.inner {
				//background: #555;
			}
		}
	}
}

nav .navbar-centre {
	text-align: center;
	padding: 12px 0;
	font-weight: bold;
	width: 70%;
}


nav#navbar .navbar-right {
	width: 12.5%;
	/*width: 190px;	*/	
}


nav#navbar .navbar-right input, nav#navbar .navbar-right button {
	height: 36px;
}
nav .dropdown-menu {
	width: 100%;
	font-size: 14px;
	display: inline-block;
	padding: 16px 0;
	min-width: 140px;
	position: relative;
	text-align: center;
	> span {
		text-align: center;
		display: block;
	}
	margin-right: -6px;
	margin-top: 0px;
	border-left: 1px solid rgba(0, 0, 0, 0);
	border-right: 1px solid rgba(0, 0, 0, 0);
}
nav .dropdown-menu:hover, nav #logo:hover {
	background: #333;
	cursor: pointer;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	color: white;
}

nav .dropdown-menu ul.dropdown-menu-items {
	display: none;
	position: absolute;
	top: 36px;
	right: -1px;
	width: 100%;
	background: #fafafa;
	padding: 0;
	border: 1px solid #ccc;
	border-top: 0;
}
nav .dropdown-menu .dropdown-menu-items li.separator {
	background: #8ACFE6;
	color: white;
	padding: 7px 15px;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.9em;
	cursor: default;
}

nav .dropdown-menu .dropdown-menu-items li {
	display: block;
}
nav .dropdown-menu .dropdown-menu-items li a {
	padding: 10px 15px;
	color: #666;
	font-size: 12px;
	display: block;
	text-decoration: none;
}
nav .dropdown-menu .dropdown-menu-items li:hover a {
	color: #111;
	background: #eee;
}
nav .dropdown-menu:hover .dropdown-menu-items {
	display: block;

}


button#save-to-file {
	font-family: "Open Sans", sans-serif;

	box-sizing: border-box;
	cursor: pointer;
	text-align: center;	
	margin-left: 10px;
}


input#jump-to-batch {
	padding-left: 8px;
	width: 135px;
}
button#jump-to-batch-go {
	width: 40px;
	text-align: center;	
	cursor: pointer;

}