nav#navbar
	.navbar-left
		#logo

			a(href="/")
				span.img
					img(src='/images/man_small.png')
				span Redcoat
	.navbar-centre
		| #{title}
	.navbar-right
		if (!user)
			div(class="dropdown-menu")
				span Not logged in
					span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="/register") Register
					li: a(href="/login?previous=" + path) Login

		else
			//- div(class="dropdown-menu")
			//- 	span <i class="fa fa-folder"></i>DMP Project
			//- 		span(class="caret") &#9660;	
			//- 	ul(class="dropdown-menu-items")
			//- 		li: a(href="/setup-project") <i class="fa fa-plus"></i>New project

			div(class="dropdown-menu")
				span Logged in as #{user.username}&nbsp;&nbsp;(#{user_stars}&nbsp;<i class="fa fa-star award-stars"></i>)
					//span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="/projects") Projects
					li: a(href="/setup-project") Setup project
					li: a(href="/profile") Profile
					li: a(href="/logout") Logout