div.upload-widget
	form.box(id="form-" + action, class="js" method='post', action=action, novalidate='')
		.box__input
			i.fa.fa-upload.upload-icon
			input(type="hidden", name="_csrf", value="" + csrfToken)
			input(type="hidden", name="_id", value="" + wip_project_id)
			input(id="file-" + action, class="box__file", type='file', name='files[]', data-multiple-caption='{count} files selected')
			label(for='file-' + action)
				strong Choose a file
				span.box__dragndrop  or drag it here
				| .
			button.box__button(type='submit') Upload
		.box__uploading Uploading…
		.box__success
			.box__success_left
				i.fa.fa-check.check-icon
			.box__success_right
				.box__success_message
					| Your file has been successfully uploaded.
					.box__success_details
					.box__success_restart
						| <a href="#" class="box__restart" role="button">Click here</a> to upload a different file.
		.box__error
			| Error: 
			span
			| 
			br 
			<a class="box__restart" href='#' role='button'>Click here</a> to try again.
		.progress-bar-container
			.progress-bar
			.progress-bar-fill
			.progress-percent-complete