version: "3.7"

services:
    redcoat:
        depends_on:
            - redcoat_db
        networks:
            - redcoat
        build:
            context: .
        ports:
            - 4000:80
        environment:
            - CLIENT_HOST=http://localhost:4000
            - SERVER_HOST=http://localhost:4000
            - MONGO_HOST=mongodb://redcoat_db/redcoat-db-dev

    redcoat_db:
        image: mongo:3.6.11-xenial
        volumes:
            - redcoat_data:/data/db
        ports:
            - "27017:27017"
        networks:
            - redcoat

networks:
    redcoat:

volumes:
    redcoat_data:
