// #dashboard {
// 	position: relative;
// }
// #dashboard a.dashboard-hover {
// 	&:hover {
// 		text-decoration: none;
// 	}
// 	text-decoration: none;
// }

// table.dashboard-project {

// 	color: #222;

	
// 	border-collapse: collapse;
// 	width: 100%;
// 	border: 1px solid #ddd;
// 	box-sizing: border-box;
// 	margin-top: 40px;
// 	&:hover {
// 		border: 1px solid $primary-red;
// 		cursor: pointer;
// 	}

// 	th {
// 		padding: 12px 24px;
// 		background: white;
// 		border-bottom: 1px solid #ccc;
// 	}

// 	table {
// 		width: 100%;
// 		background: #f6f6f6;


// 		td, th {
// 			padding: 12px 24px;
// 			text-align: center;
// 		}
// 		th {
// 			background: none;		
// 			border: none;
// 			span {
// 				border-bottom: 1px solid #ddd;
// 				padding: 0 30px;
// 				padding-bottom: 4px;
// 			}
// 			font-size: 18px;
// 			margin: 0;
// 			padding: 0;
// 			margin-bottom: 6px;
// 		}
// 		td, th {
// 			padding-top: 6px;
// 			padding-bottom: 6px;
// 		}

// 		tr td:nth-child(1), td th:nth-child(1) {
// 			width: 30%;
// 		}
// 		 tr td:nth-child(2), tr th:nth-child(2) {
// 		 	width: 25%;
// 		 }



// 		ul.metadata {
// 			font-size: 14px;
// 			color: #777;
// 			padding: 0;
// 			li {
// 				display: inline-block;
// 				padding: 0 10px;
// 				&:not(:last-child):after {
// 					margin: 0 20px 0 40px;
// 					content: "|";
// 					color: #ccc;

// 				}
// 			}
// 		}

// 		span.desc {
// 			color: #555;
// 		}

// 	}

	





// }

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}





// Dashboard

// .dataTables_filter, .dataTables_length {
//    display: none;
// }
// .dataTables_info {
// 	margin-bottom: 100px;
// }


// #projects-table {
// 	border-spacing: 0px;
// 	thead {
// 		display: none;
// 	}
// 	background: none;
// 	border-bottom: 1px solid #d7d7d7;
// 	margin-bottom: 30px;
// 	.detailed-show {
// 		display: none;
// 	}
// 	.detailed-table {
// 		display: block;
// 	}

// 	&.detailed-view {
// 		display: block;
// 		border-bottom: none;

// 		.list-show {
// 			display: none !important;
// 		}
// 		tbody {
// 			display: block;
// 		}
// 		tbody tr {
// 			display: block;
// 			background: url($base_url + 'images/stripes-light.png');
// 			background-repeat: repeat;

// 			&:not(.group) {
// 				border: 1px solid #ccc;
// 			}
// 		}
// 		thead tr {
// 			border: none !important;
// 		}
// 		td {
// 			display: block;
// 			background: none;
// 			border: none;
// 		}
// 		tr:not(.group):nth-child(odd) td {
// 			background: none;
// 		}
// 		td:last-child {
// 			border-right: none;
// 		}
// 		tr:not(.group) td:first-child {
// 			padding: 10px 10px;
// 			background: white;
// 			border-left: none;
// 			border-bottom: 1px solid #ccc;
// 			font-weight: bold;
// 			text-align: center;

// 		}
	
// 		tr:not(.group):hover {
// 			cursor: pointer;
// 			border: 1px solid $primary-red;

// 		}
// 		.detailed-show {
// 			display: block;
// 		}
// 		.detailed-table {
// 			margin-top: 10px;
// 			display: table;
// 			width: 100%;
// 			> * {
// 				display: table-cell;
// 				width: 50%;
// 			}
// 		}
// 		.detailed-fullwidth {
// 			display: block;
// 			text-align: center;
// 			padding: 0 20px;
// 		}

// 	}
// 	&:not(.detailed-view) {

// 		tr:not(.group) {
// 			td {
// 				border: 1px solid rgba(0, 0, 0, 0);
// 				border-left: none;
// 				border-right: none;
// 			}
// 			td:first-child { border-left: 1px solid rgba(0, 0, 0, 0); }
// 			td:last-child { border-right: 1px solid rgba(0, 0, 0, 0); }

// 			td:nth-child(1) { width: 45%; }
// 			td:nth-child(2) { width: 15%; text-align: right; }
// 			td:nth-child(3) { width: 5%; text-align: right; }
// 			td:nth-child(4) { width: 35%; }
// 			td:nth-child(5) { width: 5%; }
// 		}
// 		tr:not(.group):hover {
// 			cursor: pointer;
// 			td {
// 				border-top: 1px solid $primary-red;
// 				border-bottom: 1px solid $primary-red;
// 			}
// 			td:first-child {
// 				border-left: 1px solid $primary-red;
// 			}
// 			td:last-child {
// 				border-right: 1px solid $primary-red;
// 			}
// 		}
// 		a.button {
// 			width: 40px;
// 		}
// 	}
// 	thead {
// 		//background: #eee;
// 	}

// 	th {

// 		border-bottom: none;
// 	}
// 	tr.group {
// 		background: none;
// 		td {
// 			padding: 10px 20px;
// 			background: none;
// 			background: lighten($sidenav-white-color, 5);
// 			color: #222;
// 			//border: 1px solid darken($sidenav-white-color, 5);
// 			border-left: 18px solid darken($primary-red, 16);
// 		}
// 		span.sort-info {
// 			font-weight: normal;
// 			float: right;
// 		}
// 	}
// 	tr {
// 		margin-bottom: 40px;
// 	}
// 	tr.even td {
// 		background: #f5f5f5;
// 	}
// 	td:first-child {
// 		border-left: 1px solid #d7d7d7;
// 	}
// 	td:last-child {
// 		border-right: 1px solid #d7d7d7;
// 	}
// 	// &:not(.detailed-view) {
// 	// 	tr:not(.group):hover {
// 	// 		cursor: pointer;
// 	// 		td:first-child {
// 	// 			border-left: 4px solid darken($primary-red, 21);
// 	// 		}
// 	// 	}
// 	// }
// 	tr:not(.group) td {
// 		padding: 10px;
// 	}
// 	// td a {
// 	// 	padding: 10px 10px;
// 	// 	color: #222;
// 	// 	display: block;
// 	// 	&:hover {
// 	// 		text-decoration: none;
// 	// 	}
// 	// }

// 	tr:not(:hover) span.progress-bar.coloured .inner {
// 		background: linear-gradient(#ddd, #cacaca);
// 	}

// 	tr span.progress-bar .inner:before {
// 		animation: none !important;
// 	}
// 	tr:hover span.progress-bar .inner:before {
// 		animation: animatedBackground 40s linear infinite !important;
// 	}
	

// 	ul.metadata {
// 		font-size: 14px;
// 		color: #777;
// 		padding: 0;
// 		li {
// 			display: inline-block;
// 			padding: 0 10px;
// 			&:not(:last-child):after {
// 				margin: 0 20px 0 40px;
// 				content: "|";
// 				color: #ccc;

// 			}
// 		}
// 	}

// 	.right {
// 		float: right;
// 	}


// }

// #dashboard table a.button, #combined-annotations-download {
// 	width: auto;
// 	margin: 0;
// 	height: 40px;
// 	border: 1px solid darken($primary-blue, 6);
// 	color: $primary-blue;
// 	border-radius: 3px;
// 	margin-top: -2px;
// 	font-size: 20px;
// 	transition: none;
// 	padding: 0;
// 	padding-left: 11px;
// 	padding-top: 1px;
// 	font-size: 14px;
// 	padding-right: 11px;
// 	text-decoration: none;
// 	&:hover {
// 		color: white;
// 		background: $primary-blue;
// 		border: 1px solid darken($primary-blue, 6);
// 		text-decoration: none !important;

// 	}
// 	i {
// 		margin-right: 0;
// 	}
// 	&:after {
// 		border: none;
// 	}

// }
// #combined-annotations-download {
// 	padding-top: 7px;
// 	padding-bottom: 7px;
// 	margin-left: 15px;
// 	border-width: 2px;
// 	font-weight: bold;
// 	background: lighten($primary-blue, 60);
// 	&:hover {
// 		border-width: 2px;
// 	}
// 	i {
// 		margin-right: 4px;
// 	}
// }


// #project-details {
// 	h3 {
// 		margin-top: 0;
// 		margin-bottom: 10px;
// 		a {
// 			float: right;
// 			font-size: 0.75em;
// 			margin-right: 10px;
// 			border-radius: 3px;
// 			padding: 0 10px;
// 			i {
// 				margin-left: 5px;
// 				max-width: 0px;
// 				overflow: hidden;
// 			}
// 			&:hover {
// 				text-decoration: none;
// 				color: white;
// 				background: lighten($primary-blue, 5);
// 			}
// 			&:hover i {
// 				max-width: 1em;
// 			}

// 		}
// 	}

// 	.details-box {
// 		padding: 10px 20px;
// 		border: 1px solid #ddd;
// 		background: white;
// 		border-radius: 3px;
// 		margin-left: 10px;
// 		margin-right: 10px;
// 		margin-bottom: 30px;
// 		.progress-bar {
// 			margin-top: 10px;
// 		}
// 	}
// 	table.metadata { 
// 		margin-left: -2px;
// 		td:first-child {
// 			font-weight: bold;
// 			padding-right: 15px;
// 		}
// 	}
// 	p {
// 		margin: 0;
// 		padding: 1px 0;
// 		&.less-spacing {
// 			margin-top: 5px;
// 			line-height: 150%;
// 		}
// 	}
// 	span.data-unknown {
// 		color: #aaa;
// 	}
// 	li.hide {
// 		display: none;
// 	}

// }



// div#dashboard p {
// 	line-height: 150%;
// 	margin: 10px 0;
// }
// #dashboard {
// 	#project-details, #project-list {
// 		opacity: 0;
// 		pointer-events: none;
// 		transform: translate(100px, 0px);
// 		transition: all 0.2s ease;
// 		position: absolute;
// 		width: 100%;
// 		height: 70vh;
// 		overflow-y: hidden;
// 		&.show {
// 			overflow-y: visible;
// 			transform: translate(0, 0);
// 			opacity: 1;
// 			pointer-events: auto;
// 		}
// 		&.quick {
// 			transition: none;
// 		}
// 	}




// 	#project-list {
// 		transform: translate(-100px, 0);
// 		height: auto;
// 		position: relative;
// 		&:not(.show) {
// 			height: 950px;
// 		}
// 	}

// 	#project-details .tab {
// 		opacity: 0;
// 		pointer-events: none;
// 		position: absolute;
// 		width: 100%;
// 		transition: all 0.2s ease;
// 		transform: translate(0, 100px);
// 		&.show {
// 			opacity: 1;
// 			pointer-events: auto;
// 			transform: translate(0, 0);
// 		}
// 		#svg-entity-categories {
// 			height: 70vh;
// 			border: 1px solid #ddd;
// 		}
// 		&:not(:first-child) {
// 			margin-top: -30px;
// 			h2 {
// 				margin-top: 0;
// 			}
// 		}
// 	}
// }

// #sidenav-project-details, #sidenav-project-list {
// 	opacity: 0;
// 	pointer-events: none;
// 	position: absolute;
// 	&.show {
// 		opacity: 1;
// 		pointer-events: auto;
// 	}
// 	&.quick {
// 		transition: none;
// 	}
// }

// .loading-item {
// 	min-height: 70vh;
// 	width: 100%;
// 	height: 70vh;
// 	position: absolute;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	top: 0;
// 	pointer-events: none;
// 	background: #f2f2f2;
// 	z-index: 100;
// 	font-size: 24px;
// 	color: #777;
// 	transition: opacity 0.2s ease;
// 	opacity: 0;
// 	top: 0;
// 	i {
// 		margin-right: 8px;
// 	}
// 	&.show {
// 		opacity: 1;
// 		pointer-events: auto;
// 	}
// }
// .not-loaded {
// 	visibility: hidden;
// }
// #projects-table_info {
// 	visibility: hidden;
// }
// #projects-table_info.loaded {
// 	visibility: visible;
// }


// #projects-table_paginate .paginate_button {
// 	&.current {
// 		background: #ddd;
// 		border: 1px solid #ddd;
// 	}
// 	&:hover {
// 		background: darken($primary-red, 14);
// 		border: 1px solid darken($primary-red, 18);
// 	}
// }



// .annotations-table-wrapper {
// 	width: 80%;
// 	margin: 0 auto;
// }

// #annotations-table, #invitations-table {

// 	margin: 0 auto;
// 	margin-bottom: 30px;
// 	margin-top: 60px;
// 	//border-collapse: collapse;
// 	border-bottom: 1px solid #ccc;
// 	border-spacing: 0px;
	

// 	th, td {
// 		padding: 5px 15px;
// 		border: none;
// 		border-bottom: 1px solid #ccc;
// 	}
// 	thead {
// 		tr {
// 			th:first-child {
// 				text-align: left;
// 			}
// 			th {
// 				background: white;
// 			}
// 		}
// 	}
// 	tbody {
// 		tr {			
// 			border: none;
// 			td {
// 				border: none;
// 			}
// 			td:first-child{
// 				width: 65%;
// 			}
// 			td:nth-child(2) {
// 				width: 20%;
// 				text-align: center;
// 			}
// 			td:last-child {
// 				width: 15%;
// 				text-align: center;
// 			}
// 			&:nth-child(odd) {
// 				background: none;
// 			}
// 		}
// 	}
// 	tr.group {
// 		background: none;
// 		td {
// 			margin-top: 20px;
// 			padding: 4px 20px;
// 			background: none;
// 			background: lighten($sidenav-white-color, 5);
// 			color: #222;
// 			//border: 1px solid darken($sidenav-white-color, 5);
// 			border-left: 18px solid darken($primary-red, 16);
// 		}
// 		span.sort-info {
// 			font-weight: normal;
// 			float: right;
// 		}
// 	}
// 	td a.button {
// 		height: 30px;
// 		margin-top: 3px;
// 		padding-top: 0px;
// 		padding-bottom: 0px;
// 		line-height: 30px;
// 	}

// }

// #invitations-table {

// 	tbody tr, thead tr {
// 		td:first-child {
// 			width: 50%;
// 		}
// 		td:nth-child(2), th:nth-child(2) {
// 			text-align: left;
// 			width: 40%;
// 		}
// 		td:nth-child(3) {
// 			width: 10%;
// 		}
// 	}
// 	thead {
// 		display: none;
// 	}
// }

// #project-details, #project-list {

// 	.dataTables_paginate {
// 		.paginate_button {
// 			border: none;
// 			font-size: 14px;
// 			padding: 10px;
// 			width: 40px;
// 			height: 40px;
// 			border-radius: 50%;
// 			background: lighten($sidenav-white-color, 5);
// 			line-height: 20px;
// 			font-weight: bold;
// 			&.current {
// 				background: darken($sidenav-white-color, 2);
// 			}

// 			&:not(.disabled):hover {
// 				background: $primary-red;
// 				color: white !important;
// 			}
// 			&:not(.disabled):focus, &:not(.disabled):active {
// 				outline: none;
// 				border: none;
// 				box-shadow: none;
// 				background: lighten($primary-red, 7);
// 				color: white !important;
// 			}
// 			&.disabled {
// 				opacity: 0.3;
// 				color: darken($sidenav-white-color, 7) !important;
// 				&:hover {
// 					cursor: default;
// 				}
// 			}
// 		}
// 	}
// }

// .annotations-download-box {
// 	border: 2px solid #ccc;
// 	background: white;
// 	text-align: center;
// 	margin: 0 auto;
// 	width: 75%;
// 	border-radius: 4px;
// 	padding: 10px 0;
// }
// #combined-annotations-num {
// 	font-weight: bold;
// 	color: black;
// }


// #dashboard .message-bar {
// 	&.success {
// 		background: lighten($primary-green, 4);
// 		border: 1px solid lighten($primary-green, 1);
// 	}
// 	color: white;
// 	width: 100%;
// 	position: absolute;
// 	left: 0;
// 	top: -50px;
// 	padding: 1px 10px;

	
// }





#projects-table-wrapper {
	margin-top: 20px;
	margin-bottom: 80px;
}
#projects-table-header {
	display: flex;
	align-items: center;
	font-size: 18px;
	.row-button {
		padding: 20px 30px;
		text-align: center;
		border-bottom: 3px solid rgba(0, 0, 0, 0);
		cursor: pointer;
		display: flex;
		box-sizing: border-box;
		color: #555;
		min-width: 240px;
		justify-content: center;
		&.active {
			border-bottom: 3px solid $primary-red;
			font-weight: bold;
			color: #222;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.25);
			border-bottom: 3px solid #777;
		}
		.counter {
			margin-top: -2px;
			margin-left: 15px;
			color: #333;
			font-weight: normal;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background: #ddd;
			width: 30px;
			height: 30px;
			font-size: 0.7em;
			line-height: 100%;
			margin-bottom: -50px;
			
		}
	}
}

#projects-table {
	box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
	
	font-size: 16px;

	
	.projects-table-pie {
		width: 50px;
		height: 50px;
		margin-right: 35px;
	}

	div.row {
		display: flex;
		width: 100%;
		padding: 20px 40px;
		background: #fafafa;
		min-height: 100px;
		align-items: center;
		box-sizing: border-box;
		color: #777;
		line-height: 100%;
		&:nth-child(even) {
			background: #f3f3f3;
		}
		.circle-icon {
			margin-right: 35px;
		}
		.col-name-desc {
			//width: 100%;
			flex: 1;
			display: flex;			
			align-items: center;
			
			

			.name-desc-row {

				
				.project-name {
					float: left;
					clear: both;

					font-size: 18px;
					font-weight: 600;
					margin-bottom: 12px;
					a {
						color: #111;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}

				}
				.project-description {
					float: left;
					clear: both;
					margin-bottom: 20px;
				}
				.project-creator {
					float: left;
					clear: both;
					.creator-name {					
						color: #111;
						cursor: pointer;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}

			}
		}
		.col-date {
			flex: 0 1 250px;
			text-align: left;
			padding: 0 30px;
		}
		.col-users {
			text-align: center;
			width: 50px;
			
			
			i {
				margin-right: 4px;
				font-size: 0.9em;
				transform: translate(0, -1px);
			}
		}

	}
}



#projects-table.loading {
	pointer-events: none;
	div.row {
		color: rgba(0, 0, 0, 0) !important;
		a {
			color: rgba(0, 0, 0, 0) !important;
		}
		

		.col-name-desc {

			div.name-desc-row {

				> * {
					background: #e4e4e4;
				}
		
				.project-creator {
					.creator-name {
						color: rgba(0, 0, 0, 0.0) !important;
					}
				}
				
			}
			.circle-icon .inner {
				color: rgba(0, 0, 0, 0);
			}
		}
		.col-date {
			> * {
					background: #e4e4e4;
				}
			.project-created-at {
				width: 100%;
				display: block;
			}
		}
		.col-users {
			i {
				color: #eee;
			}

			.user-count {
				height: 14px;
				display: inline-block;
				background: #e4e4e4;
			}
		}
	}
}



#project-view {
	margin-top: 54px;
	display: flex;
	min-height: calc(100vh - 54px);
	justify-content: stretch;
	align-items: stretch;
	//margin-top: $navbar-height;
	main {
		margin-top: 00px;
		min-height: 80vh;
		padding: 10px;
		box-sizing: border-box;
		h2 {
			margin-top: -10px;
			margin-bottom: 40px;
			font-size: 36px;
		}

		.wrapper {
			box-sizing: border-box;
			background: #fefefe;
			border-radius: 4px;
			box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
			.inner {

			} 
		}
		table { // the placeholder table
			border-spacing:0;

			width: 100%;
			border-collapse: collapse;
			tr:nth-child(even) td {
				background: #f2f2f2;
			}
			th, td {
				padding: 0;
				border: 0;
				box-sizing: border-box;
				border-collapse: collapse;
				.inner {
					padding: 10px 15px;
					display: block;

				}
				
			}
			tr td:nth-child(1) {
				width: 50%;
			}


		}
	}
}
@for $i from 1 through 12 {
	.category-hierarchy-table tr td.color-#{$i} span.inner { border-left: 8px solid nth($colors, $i); }
}


.project-card {
	font-size: 16px;
	background: #fefefe;
	padding: 25px 30px;
	display: flex;
	align-items: center;
	.circle-icon {
		margin-left: -25px;
	}
	.project-name {
		font-size: 20px;
		margin-bottom: 6px;
	}
	.project-creator {
		font-size: 15px;
		color: #999;
		.creator-name {
			color: #222;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	a {
		color: #222;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#project-view-sidenav {
	min-width: 370px;
	background: #fefefe;
	box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
	font-size: 16px;

	.go-back {
		padding: 10px;
		a {
			text-decoration: none;
			color: #777;
			&:hover {
				color: #222;
				text-decoration: underline;
			}
		}
		i {
			margin-right: 10px;
		}
	}

	

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		


		li {
			user-select: none;
			padding: 0;
			width: 100%;
			color: #555;
			box-sizing: border-box;
			border-left: 3px solid rgba(0, 0, 0, 0);
			

			&.active {
				font-weight: bold;
				background: #eee;
				border-left: 3px solid $primary-red;
				color: #222;
			}
			i {
				min-width: 20px;
				margin-right: 20px;
			}
			
			a {
				padding: 15px 30px;
				display: block;
				cursor: pointer;
				color: #555;
				text-decoration: none;
				transition: padding 0.1s ease;
				&:hover {
					background: #ebebeb;
					padding-left: 40px;
					color: #222;
				}
			}
			
		}
		
	}
}

.project-view-wrapper {
	width: 100%;
	height: 100%;
	padding: 40px 40px;

}

#project-dashboard {
		
	box-sizing: border-box;

	h2 {
		padding: 0 30px;
		margin: 0;
	}

	.dashboard-top-row {
		display: flex;
		align-items: center;
		padding: 0 15px;
		
		
		.dashboard-key-items {
			margin-top: -10px;
			padding: 0 20px;
			padding-bottom: 0;
			display: flex;

			align-items: center;
			width: 100%;
			.dashboard-item {
				padding: 20px;
				text-align: center;
				margin-right: 80px;
				position: relative;




				&.annotate-button {
					background: $button-blue;
					justify-self: flex-end;
				}

				&:not(:last-child):after {
					border-right: 1px solid #cacaca;
					height: 60%;
					content: " ";
					position: absolute;
					right: -40px;
					top: 20%;
				}


				.information i {
					margin-left: 8px;
					color: #aaa;
				}
				.name {
					color: #777;
					font-size: 16px;

				}
				.value {
					font-size: 40px;
					font-weight: 600;
					color: #222;
				}
				.flex-wrapper {
					display: flex;
					align-items: center;
				}
				.pieChart {
					display: inline-block;
					width: 80px;
					margin-left: 35px;
				}
			}
		}
	}

	.dashboard-white-boxes {
		display: flex;


		flex-grow: 1;
		flex-direction: column wrap;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;

		padding: 0px;
		padding-top: 10px;
		box-sizing: border-box;

		.dashboard-item {
			width: 100%;		
			box-sizing: border-box;		
			padding: 15px;
			
			.dashboard-flex-header {
				display: flex;
				justify-content: space-between;
				margin-bottom: 18px;
				h3 {
					margin-bottom: 0;
				}
				.chart-option {
					display: flex;
					align-content: center;
					justify-self: flex-end;
					font-size: 14px;
					color: #777;
					user-select: none;
					cursor: pointer;
					.checkbox {
						width: 21px;
						height: 21px;
						border: 1px solid #ccc;
						border-radius: 4px;
						margin-right: 8px;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					span {
						display: block;
					}
					&.active .checkbox {
						&:after {
							font-family: FontAwesome;
							color: #555;
							content: "\f00c";

						}
					}
				}
			}
			
			
			.inner {
				border-radius: 4px;
				background: #fefefe;
				box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
				min-height: 280px;
				padding: 25px 30px;
				h3 {
					margin-top: 0;
					font-size: 18px;
				}
			}
		}
		.dashboard-wrapper-item {
			display: flex;
			flex-grow: 1;
			flex-direction: column wrap;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
		}
		.col-100 {
			width: 100%;
		}
		.col-60 {
			width: 60%;
		}
		.col-50 {
			width: 50%;
		}
		.col-40 {
			width: 40%;
		}
		.col-50 {
			width: 50%;
		}
		.col-33 {
			width: 33.3333333%;
		}
		.col-25 {
			width: 25%;
		}
		.col-20 {
			width: 20%;
		}
		.double-height {
			.inner {
				box-sizing: border-box;
				height: 100%;
			}
		}
		
	}

	
	.chart-placeholder {
		border: 1px solid #ddd;
		height: 220px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #999;
		i {
			margin-right: 10px;
		}
	}
	
}



.loading #project-dashboard .annotate-button {
	background: #d3d3d3;
	pointer-events: none;
	color: rgba(0, 0, 0, 0);
	.subtitle {
		color: rgba(0, 0, 0, 0);
	}


}

.dashboard-item .comments-wrapper {
	max-height: 580px;
}

.comments-wrapper {
	overflow-y: scroll;
	padding-right: 30px;
	height: calc(100% - 60px);
	box-sizing: border-box;

	&.no-comments {
		color: #777;
		overflow: auto;

	}


	.comment-box {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		padding-bottom: 10px;

		.comment-left {

		}

		.comment-right {
			width: 100%;
			font-size: 16px;
			line-height: 150%;
			.comment-author {
				font-weight: bold;
				color: #333;
				width: 100%;
			}
			.comment-text {
				color: #777;
			}
			.comment-date {
				float: right;
				color: #999;
				font-weight: normal;
				font-size: 14px;

			}
			
		}
		blockquote.comment-document {
			margin-bottom: 5px;
			color: rgba(0, 0, 0, 0.8);
		}

		&:not(:last-child) {
			border-bottom: 1px solid #e5e5e5;
		}
	}
	.comment-input-box {
		border-top: 1px solid #ddd;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	textarea {
		border-radius: 4px;
		font-size: 16px;
		border-width: 1px;
		border-color: #ccc;
		height: 70px;
		margin: 0;
		width: 100%;
		margin-right: 10px;
		display: block;
		&:focus {
			border-color: lighten($button-blue, 6);
		}
	}
	.comment-right.margin-right {
		margin-right: 10px;
	}
	.submit-comment-wrapper {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		padding: 0 30px;
		box-sizing: border-box;
		margin-bottom: 10px;
		margin-top: -5px;

	}
	.submit-comment {
		padding: 6px 24px;
		background: rgba(255, 255, 255, 0.95);
		color: rgba(0, 0, 0, 0.7);
		border: 1px solid #ccc;
		border-radius: 4px;
		display: block;
		margin: 0;
		
		
		i {
			margin-right: 4px;
		}
		border-width: 1px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: 40px;
		&:hover {
			background: $button-blue;
			color: white;
			border-color: white;
		}
		&:active {
			transform: translate(0, 1px);
		}
	}
}
.comments-wrapper .comment-input-box .comment-box {
	border-bottom: none;
}


.annotations-per-doc-donut {
	padding-top: 10px;
	box-sizing: border-box;
}

.loading .annotations-per-doc-donut {
	padding-top: 0;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}




.waffle-chart-container {
	display: flex;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */    
    animation: fadein 1s;
    margin: 0 auto;

    justify-content: center;

	.waffle-chart-legend {
		margin-right: 30px;
		display: flex;
		flex-direction: column;
		span {
			color: #555;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		.waffle-chart-legend-inner {
			background: linear-gradient(to top, rgba($button-blue, 0.1), $button-blue);
			width: 10px;
			height: 100%;

		}
	}

	.waffle-chart {
		z-index: 100;
		width: 196px;
		min-width: 196px;
		background: #fff;
		padding-left: 1px;
		padding-top: 1px;
		position: relative;

		&:hover .waffle-chart-tooltips {
			opacity: 1;
		}
		.waffle-chart-tooltips {

			opacity: 0;
			pointer-events: none;
			transition: opacity 0.1s ease;
			.waffle-chart-tooltip {
				line-height: 100%;
				font-size: 12px;
				background: #fafafa;
				padding: 1px 7px;
				position: absolute;
				box-sizing: border-box;
				text-align: center;
				
				box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
				border: 1px solid rgba($button-blue, 0.3);
				padding: 0;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;


				b {
					box-sizing: border-box;
					padding: 0 6px;
					height: 20px;
					align-items: center;
					display: flex;
					flex-wrap: nowrap;
					flex: 1;
				}
				span.num-docs {
					text-align: center;
					justify-content: center;
					padding: 0 6px;
					flex-wrap: nowrap;
					display: flex;
					flex: 1;
				}

				&.tooltip-left {
					justify-content: left;
					right: calc(100% + 10px);
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					b {
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
					}
					&:after {
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						 
						border-left: 10px solid #fafafa; 
						position: absolute;
						right: -10px;
						top: -1px;
						content: " ";
						
					}
					&:before {
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						 
						border-left: 10px solid rgba($button-blue, 0.3); 
						position: absolute;
						right: -11px;
						top: -1px;
						content: " ";

						
					}

					

				}
				&.tooltip-right {
					flex-direction: row-reverse;
					justify-content: right;
					left: calc(100% + 6px);
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;

					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
					&:after {
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						 
						border-right: 10px solid #fafafa; 
						position: absolute;
						left: -10px;
						top: -1px;
						content: " ";
						
					}
					&:before {
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						 
						border-right: 10px solid rgba($button-blue, 0.3); 
						position: absolute;
						left: -11px;
						top: -1px;
						content: " ";
						
					}
				}

			}
		}
		


		.waffle-chart-info {
			font-size: 12px;
			color: #777;
			margin-top: 7px;
			text-align: center;
			font-style: italic;
		}

		.waffle-chart-squares {
			display: flex;
			align-items: flex-start;
			flex-direction: column wrap;
			flex-wrap: wrap;

			span {
				display: inline-flex;

			}

		

			

			.waffle-square {
				width: 18px;
				height: 18px;
				margin-right: 1px;
				margin-bottom: 1px;
				font-size: 9px;
				text-align: center;
				color: rgba(0, 0, 0, 0);
				padding-top: 0px;
				pointer-events: none;
				background: $button-blue;
				padding-top: 2px;
				box-sizing: border-box;
				
			}
			&:hover .waffle-square {
				//color: rgba(darken($button-blue, 40), 0.8);
				margin-right: 0;
				margin-bottom: 0;
				width: 19px;
				height: 19px;
			}
			
		}
		
	}
}
