header.new-project-header {
	background: #d3d3d3;


	color: #222;
	div.flex-container {
		display: flex;

		.item {
			
			font-size: 15px;

			a.inner {
				cursor: pointer;
			}
			.inner {
				cursor: default;
				padding: 15px 30px;
				display: inline-block;
				color: #222;
				text-decoration: none;
				border-bottom: 3px solid rgba(0, 0, 0, 0);

			}

			i {
				margin-left: 7px;

			}

		
			&:not(:first-child):before {
				content: "\f054";
				font-family: FontAwesome;
				transform: translate(0, 30px);
				color: #999;
				font-size: 15px;
				padding: 0 10px;

			}
			&.disabled {
				opacity: 0.5;
				pointer-events: none;
				user-select: none;
			}
			&.active {

				.inner {
					background: rgba(255, 255, 255, 0.15);
					padding: 15px 24px;
					font-weight: bold;
					color: #111;
					border-bottom: 3px solid $primary-red;
				}
			}
			a:hover {
				background: rgba(255, 255, 255, 0.25);
				border-bottom: 3px solid #777;
			}
		}
	}
}

main.new-project {
	padding-top: 40px;
	min-height: 655px;
	
}

.new-project-submit-row {
	background: #d3d3d3;
	padding: 30px 0;
	&.disabled .container {
		opacity: 0.75;
		pointer-events: none;
	}
	.container {
		display: flex;
		justify-content: space-between;
		div.buttons-right {
			display: flex;
			justify-content: flex-end;
			button:first-child {
				margin-right: 20px;
			}
			button:last-child {
				margin-right: 0;
			}

		}
	}
	button {
		font-size: 16px;
		margin-bottom: 0;
	}
	.saving {
		pointer-events: none;
		opacity: 0.75;
	}
	.loading {
		pointer-events: none;
		opacity: 0.75;
	}
	.saved {
		background: darken($primary-green, 4);
		&:hover {
			background: darken($primary-green, 2);
		}
	}

}

.form-notice {
	padding: 12px;
	font-size: 15px;
	border-radius: 3px;
	margin-bottom: 30px;
	border: 2px solid #ccc;
	overflow: hidden;
	//transition: max-height 0.2s ease, padding 0.2s ease, border-width 0.2s ease, margin 0.2s ease, opacity 0.2s ease;
	transition: opacity 0.3s ease;
	max-height: 100px;
	opacity: 1;
	ul {
		margin-bottom: 0;
	}
	i {
		margin-right: 7px;
		transform: translate(0, -1px);
	}
	&.hidden {
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-width: 0;
		margin-top: 0;
		margin-bottom: 0;
		opacity: 0;
	}
	.save-warning {
		margin-top: 4px;
		i {
			transform: translate(0, 0);
		}
	}
}
.form-loading {
	background: rgba(0, 0, 0, 0.05);
}
.form-errors {
	border-color: rgba(darken($primary-red, 15), 0.75);
	background: rgba($primary-red, 0.12);	
	color: darken($primary-red, 35);
}
.form-success {
	border-color: rgba($primary-green, 0.25);
	background: rgba($primary-green, 0.12);
	color: darken($primary-green, 35);

}



.form-warning {
	border-color: rgba(darken($primary-gold, 7), 0.35);
	background: rgba($primary-gold, 0.12);

}

.small-margin-top {
	margin-top: -20px;
}

.annotate-button.new-project-button {
	margin-top: 0;
	max-width: 300px;
	i.after {
		margin-left: 10px;
		margin-right: 0;
	}
}

.new-project-form-body {
	padding-bottom: 60px;
	h2 {
		margin: 0;
		margin-bottom: 30px;
		border-bottom: 1px solid #d1d1d1;
		padding-bottom: 15px;
		&:not(:first-child) {
			margin-top: 45px;
		}
		span.form-help {
			float: right;
			color: #777;
			cursor: help;
			display: flex;
			align-items: center;
			margin-top: 11px;

			background: rgba(0, 0, 0, 0);
			border-radius: 4px;
			padding: 2px 5px;
			&:hover {
				color: #555;
				background: #d1d1d1;
			}
			.info {
				margin-left: 10px;
				font-size: 14px;
				margin-top: -2px;
			}
			i {
				margin-top: 2px;
				font-size: 20px;
			}
		}
	}
}

.form-group {
	margin-bottom: 15px;
	padding: 0 15px;
	&.no-padding {
		padding: 0;
	}
	box-sizing: border-box;

	label {
		display: block;
		font-weight: bold;
	}
	input, textarea, select {

		box-sizing: border-box;
		font-family: $primary-font;
		margin: 15px 0;
		width: 100%;
		padding: 12px 18px;
		border-radius: 4px;
		font-size: 18px;
		&:focus, &:active {
			border: 2px solid $button-blue;
			outline: none !important;
		}
	}
	select {
		padding-right: 36px;
	}
	textarea {
		height: 200px;
	}

}



@keyframes form-error-change {
	0% { background: rgba($primary-red, 0.12); border-color: rgba(darken($primary-red, 15), 0.75); }
	50% { background: rgba($primary-red, 0.12); border-color: rgba(darken($primary-red, 15), 0.75); }
	100%   { background: rgba($button-blue, 0.2); border-color: rgba($button-blue, 0.6); }
}

form.errors {
	.upload-form input {
		&:invalid:focus + label {
			animation: form-error-change 3s;
		}
	}
}

.form-group .upload-form-container .upload-form label table.file-metadata {
	td:first-child {
		width: 65%;
	}
}
.upload-form-container {	
	margin-top: 36px;
	.upload-form input {
		height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
		position: absolute;
		top: -10000px;
	}

	.upload-form label {
		background: rgba($button-blue, 0.2);
		border: 2px dashed rgba($button-blue, 0.6);
		height: 355px;
		box-sizing: border-box;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		color: rgba(0, 0, 0, 0.7);
		cursor: pointer;
		font-weight: bold;

		&:focus {
			outline: none !important;
		}
		i.form-icon {
			display: block;
			text-align: center;
			color: rgba(darken($button-blue, 25), 0.3);
			font-size: 90px;
			margin-top: -20px;
			margin-bottom: 20px;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		}
		&:hover {
			background: rgba(lighten($button-blue, 12), 0.2);
		}
		.center {
			display: block;
			text-align: center;
		}
		table.file-metadata {
			padding: 0;
			width: 100%;
			margin-top: 20px;

			td {
				padding: 0 10px;
				font-weight: normal;
				&:first-child {
					font-weight: bold;
					text-align: right;
					

					
				}

				list-style: none;
				line-height: 170%;

			}
		}

	}
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

form.saving, form.loading {
	pointer-events: none;
	input, .upload-form label {
		opacity: 0.8;
	}
}

form.shake {

	input:invalid {
		//border-color: $primary-gold;
		animation: shake 0.5s;
	}
	.upload-form input:invalid + label {
		//border-color: $primary-gold;
		animation: shake 0.5s;
	}
}

.error {
	input {
		animation: form-error-change 3s;
	}
	&.upload-form label:not(:hover) {
		background: rgba($primary-red, 0.12); border-color: rgba(darken($primary-red, 15), 0.75);
		i.form-icon {
			color: rgba(0, 0, 0, 0.2);
		}
	}
}

body.ReactModal__Body--open #app {
	filter: blur(2px);
	#navbar {
		top: -50px;
	}

}

.modal {
	
	background-color: #eee;
	border-radius: 3px;
	padding: 30px 45px;
	box-sizing: border-box;
	box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.9);
	&:focus {
		outline: none !important;
	}
	min-height: 400px;
	width: 800px;
	h2 {
		margin: 0;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
	}
	ul {
		padding-right: 10px;
		li {
			margin-bottom: 20px;
		}
	}
	&.verify-back {
		min-height: auto;
	}
	.verify-back-row {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		button {
			margin-right: 0;
			max-width: 150px;
			font-size: 16px;
			padding: 25px 20px;

		}
	}

}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100000;
	display: flex;
	align-items: center;
	justify-content: center;

}


.new-project, .new-project-header {
	i.fa-check {
	color: darken($primary-green, 10);
	}
	i.fa-times {
		color: darken($primary-red, 20);
	}
	i.fa-warning {
		color: darken($primary-gold, 7);
	}
}

.new-project .project-page-table {
	td {
		padding: 8px 16px;
	}
}