header.new-project-header {
	background: #d3d3d3;

	user-select: none;
	color: #222;
	div.flex-container {
		display: flex;

		.item {
			
			font-size: 15px;

			a.inner {
				cursor: pointer;
			}
			.inner {
				cursor: pointer;
				padding: 15px 30px;
				display: inline-block;
				color: #222;
				text-decoration: none;
				border-bottom: 3px solid rgba(0, 0, 0, 0);

			}

			i {
				margin-left: 7px;

			}

		
			&:not(:first-child):before {
				content: "\f054";
				font-family: FontAwesome;
				transform: translate(0, 30px);
				color: #999;
				font-size: 15px;
				padding: 0 10px;

			}
			&.disabled {
				opacity: 0.5;
				pointer-events: none;
				user-select: none;
			}
			&.active {

				.inner {
					background: rgba(255, 255, 255, 0.15);
					padding: 15px 24px;
					font-weight: bold;
					color: #111;
					border-bottom: 3px solid $primary-red;
				}
			}
			div:hover {
				background: rgba(255, 255, 255, 0.25);
				border-bottom: 3px solid #777;
			}
		}
	}
}

main.new-project {
	padding-top: 40px;
	min-height: 655px;
	
}

.new-project-submit-row {
	background: #d3d3d3;
	padding: 30px 0;
	&.disabled .container {
		opacity: 0.75;
		pointer-events: none;
	}
	.container {
		display: flex;
		justify-content: space-between;
		div.buttons-right {
			display: flex;
			justify-content: flex-end;
			button:first-child {
				margin-right: 20px;
			}
			button:last-child {
				margin-right: 0;
			}

		}
	}
	button {
		font-size: 16px;
		margin-bottom: 0;
	}
	.saving {
		pointer-events: none;
		opacity: 0.75;
	}
	.loading {
		pointer-events: none;
		opacity: 0.75;
	}
	.saved {
		background: darken($primary-green, 4);
		&:hover {
			background: darken($primary-green, 2);
		}
	}

}

.form-notice {
	padding: 12px;
	font-size: 15px;
	border-radius: 3px;
	margin-bottom: 30px;
	border: 2px solid #ccc;
	overflow: hidden;
	//transition: max-height 0.2s ease, padding 0.2s ease, border-width 0.2s ease, margin 0.2s ease, opacity 0.2s ease;
	transition: opacity 0.3s ease;
	max-height: 100px;
	opacity: 1;
	ul {
		margin-bottom: 0;
	}
	i {
		margin-right: 7px;
		transform: translate(0, -1px);
	}
	&.hidden {
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-width: 0;
		margin-top: 0;
		margin-bottom: 0;
		opacity: 0;
	}
	.save-warning {
		margin-top: 4px;
		i {
			transform: translate(0, 0);
		}
	}
}
.form-loading {
	background: rgba(0, 0, 0, 0.05);
}
.form-errors {
	border-color: rgba(darken($primary-red, 15), 0.75);
	background: rgba($primary-red, 0.12);	
	color: darken($primary-red, 35);
}
.form-success {
	border-color: rgba($primary-green, 0.25);
	background: rgba($primary-green, 0.12);
	color: darken($primary-green, 35);

}



.form-warning {
	border-color: rgba(darken($primary-gold, 7), 0.35);
	background: rgba($primary-gold, 0.12);

}

.small-margin-top {
	margin-top: -20px;
}

.annotate-button.new-project-button {
	margin-top: 0;
	max-width: 300px;
	i.after {
		margin-left: 10px;
		margin-right: 0;
	}
}

.new-project-form-body {
	padding-bottom: 60px;
	h2 {
		margin: 0;
		margin-bottom: 30px;
		border-bottom: 1px solid #d1d1d1;
		padding-bottom: 15px;
		&:not(:first-child) {
			margin-top: 45px;
		}
		span.form-help {
			float: right;
			color: #777;
			cursor: help;
			display: flex;
			align-items: center;
			margin-top: 11px;

			background: rgba(0, 0, 0, 0);
			border-radius: 4px;
			padding: 2px 5px;
			&:hover {
				color: #555;
				background: #d1d1d1;
			}
			.info {
				margin-left: 10px;
				font-size: 14px;
				margin-top: -2px;
			}
			i {
				margin-top: 2px;
				font-size: 20px;
			}
		}
	}
}

.form-group {
	margin-bottom: 15px;
	padding: 0 15px;
	&.no-padding {
		padding: 0;
	}
	box-sizing: border-box;

	label {
		display: block;
		font-weight: bold;
	}
	input, textarea, select {

		box-sizing: border-box;
		font-family: $primary-font;
		margin: 15px 0;
		width: 100%;
		padding: 12px 18px;
		border-radius: 4px;
		font-size: 18px;
		&:focus, &:active {
			border: 2px solid $button-blue;
			outline: none !important;
		}
	}
	select {
		padding-right: 36px;
	}
	textarea {
		height: 200px;
	}

}



@keyframes form-error-change {
	0% { background: rgba($primary-red, 0.12); border-color: rgba(darken($primary-red, 15), 0.75); }
	50% { background: rgba($primary-red, 0.12); border-color: rgba(darken($primary-red, 15), 0.75); }
	100%   { background: rgba($button-blue, 0.2); border-color: rgba($button-blue, 0.6); }
}

form.errors {
	.upload-form input {
		&:invalid:focus + label {
			animation: form-error-change 3s;
		}
	}
}

.form-group .upload-form-container .upload-form label table.file-metadata {
	td:first-child {
		width: 65%;
	}
}
.upload-form-container {	
	margin-top: 36px;
	.upload-form input {
		height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
		position: absolute;
		top: -10000px;
	}

	.upload-form label {
		background: rgba($button-blue, 0.2);
		border: 2px dashed rgba($button-blue, 0.6);
		height: 355px;
		box-sizing: border-box;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		color: rgba(0, 0, 0, 0.7);
		cursor: pointer;
		font-weight: bold;

		&:focus {
			outline: none !important;
		}
		i.form-icon {
			display: block;
			text-align: center;
			color: rgba(darken($button-blue, 25), 0.3);
			font-size: 90px;
			margin-top: -20px;
			margin-bottom: 20px;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		}
		&:hover {
			background: rgba(lighten($button-blue, 12), 0.2);
		}
		.center {
			display: block;
			text-align: center;
		}
		table.file-metadata {
			padding: 0;
			width: 100%;
			margin-top: 20px;

			td {
				padding: 0 10px;
				font-weight: normal;
				&:first-child {
					font-weight: bold;
					text-align: right;
					

					
				}

				list-style: none;
				line-height: 170%;

			}
		}

	}
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

form.saving, form.loading {
	pointer-events: none;
	input, .upload-form label {
		opacity: 0.8;
	}
}

form.shake {

	input:invalid {
		//border-color: $primary-gold;
		animation: shake 0.5s;
	}
	.upload-form input:invalid + label {
		//border-color: $primary-gold;
		animation: shake 0.5s;
	}
}

.error {
	input {
		animation: form-error-change 3s;
	}
	&.upload-form label:not(:hover) {
		background: rgba($primary-red, 0.12); border-color: rgba(darken($primary-red, 15), 0.75);
		i.form-icon {
			color: rgba(0, 0, 0, 0.2);
		}
	}
}

body.ReactModal__Body--open #app {
	filter: blur(2px);
	#navbar {
		top: -50px;
	}

}

.modal {
	
	background-color: #eee;
	border-radius: 3px;
	padding: 30px 45px;
	box-sizing: border-box;
	box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.9);
	&:focus {
		outline: none !important;
	}
	min-height: 400px;
	width: 800px;
	h2 {
		margin: 0;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
	}
	ul {
		padding-right: 10px;
		li {
			margin-bottom: 20px;
		}
	}
	&.verify-back {
		min-height: auto;
		width: 600px;
	}
	.verify-back-row {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		button {
			margin-right: 0;
			max-width: 150px;
			font-size: 16px;
			padding: 25px 20px;

		}
	}

}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100000;
	display: flex;
	align-items: center;
	justify-content: center;

}


.new-project, .new-project-header {
	i.fa-check {
		color: darken($primary-green, 10);
	}
	i.fa-times {
		color: darken($primary-red, 20);
	}
	i.fa-warning {
		color: darken($primary-gold, 7);
	}
}

.new-project .project-page-table {
	td {
		padding: 8px 16px;
	}
}

table.annotators-table {
	width: 100%;
	background: #fefefe;
	border-collapse: collapse;
	border: none;
	tr {
		border: none;
		&:nth-child(even) td {
			background: #f3f3f3;
		}
		&:nth-child(odd) td {
			background: #fefefe;
		}
		td {
			padding: 12px;

			.inner {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}	
}

.user-row {

}

.annotators-box {
	
	
	

	.annotators-box-header {
		border: none;

		padding: 16px;
		padding-top: 0;
		color: #222;
		font-weight: bold;
		font-size: 18px;
		background: none;
		text-align: center;

	}
	

	.annotators-box-body {
		background: #f9f9f9;
		box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
		max-height: 420px;
		min-height: 420px;
		overflow-y: scroll;
	}
	.annotators-box-list {
		

		&.search-results {
			padding: 0 16px;
			h4 {
				font-size: 17px;
				padding: 0;
				margin-top: 10px;
				margin-bottom: 10px;
				color: #444;
			}
			.annotator {				
				padding: 8px 8px;	
				
			}
			.not-searched-yet, .no-search-results {
				font-size: 15px;
				display: flex;
				height: 80px;
				align-items: center;
				justify-content: center;
				padding: 0 20px;
				text-align: center;
			}
		}

		.annotator {
			&:hover .delete-button-container {
				opacity: 1;
			}

			display: flex;
			align-items: center;
			padding: 16px 16px;

			border-bottom: 1px solid #ddd;
			

			// &:nth-child(even) {
			// 	background: #fefefe;
			// }

			.user-details {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				

				.annotator-username {
					font-size: 17px;
				}
				.annotator-registration-date {
					font-size: 14px;
					margin-top: 5px;
					color: #555;
				}

			}
			
		}
	}
	.annotate-button {
		font-size: 13px;
		margin-right: 0;
		padding: 13px 10px;
		min-width: 120px;
		margin-top: 0;
		margin-left: 10px;
		&.user-added {
			pointer-events: none;
			background: rgba(0, 0, 0, 0);
			box-shadow: none;
			opacity: 0.8;			
			color: #888;
			//color: darken($primary-green, 5);
			i {
				//color: darken($primary-green, 5);
				color: #888;

			}
		}
	}
	.input-row {
		display: flex;
		padding: 16px;
		align-items: center;
		input {
			box-sizing: border-box;
			width: 100%;
			padding: 10px;
			font-size: 15px;
			border-radius: 3px;
			&:focus {
				outline: none;
				border-color: $button-blue;
			}
		}

	
	}	
}	

.loading-prevent-action {
	opacity: 0.8;
	pointer-events: none;
}







div.input-range-group {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	margin-top: 15px;
	padding-bottom: 20px;
	background: #f4f4f4;
	.disabled-message {
		display: none;
		text-align: center;
		color: #555;
		width: 100%;
		position: absolute;
		.havent-started {
			display: block;
		}
		.inapplicable {
			display: none;
		}
	}
	.inner {
		width: 100%;
	}
	&.disabled {
		.disabled-message {
			display: block;

		}
		.inner {
			opacity: 0.08;
			filter: blur(2px);
			pointer-events: none;
			user-select: none;
		}
	}
	&#final-submission-box:not(.disabled) {
		border: 1px solid rgba(0, 0, 0, 0);
	}

}

div.input-range-summary {
	text-align: center;
	margin-top: 10px;
	p {
		padding: 10px 0;
		margin: 0;

		color: #444;
	}
	p.small {

		font-size: 0.8em;
	}
	p span:not(.plural) {
		font-weight: bold;
	}
}
div.input-range-container {
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	> .left, > .right {
		width: 5%;
		text-align: center;
		user-select: none;
	}
	> input[type=range] {
		width: 90%;
	}
}

input[type=range] {
  cursor: pointer;
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
}
input[type=range]:focus {
  outline: none;
  border: 2px solid #ddd;
}
input[type=range]:active {
  border: 2px solid $primary-orange;
}


// Webkit

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #f2f2f2;
  // background: #3071a9;

}
input[type=range]::-webkit-slider-thumb {
  height: 42px;
  width: 24px;
  background: lighten($primary-orange, 4);
  border: 2px solid darken($primary-orange, 10);
  cursor: ew-resize;
  -webkit-appearance: none;
  margin-top: -17px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}


// Firefox

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #f2f2f2;
  // background: #3071a9;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  background: lighten($primary-orange, 4);
  border: 2px solid darken($primary-orange, 10);
  cursor: ew-resize;
}

// IE

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: ew-resize;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}