header.new-project-header {
	background: #d3d3d3;


	color: #222;
	div.flex-container {
		display: flex;

		.item {
			
			font-size: 15px;

			a {

				padding: 15px 30px;
				display: inline-block;
				color: #222;
				text-decoration: none;
				border-bottom: 3px solid rgba(0, 0, 0, 0);

			}

		
			&:not(:first-child):before {
				content: "\f054";
				font-family: FontAwesome;
				transform: translate(0, 30px);
				color: #999;
				font-size: 15px;
				padding: 0 10px;

			}
			&.disabled {
				opacity: 0.5;
				pointer-events: none;
				user-select: none;
			}
			&.active {

				a {
					background: rgba(255, 255, 255, 0.15);
					padding: 15px 24px;
					font-weight: bold;
					color: #111;
					border-bottom: 3px solid $primary-red;
				}
			}
			a:hover {
				background: rgba(255, 255, 255, 0.25);
				border-bottom: 3px solid #777;
			}
		}
	}
}

main.new-project {
	padding-top: 40px;
	min-height: 655px;
	
}

.new-project-submit-row {
	background: #d3d3d3;
	padding: 30px 0;
	.container {
		display: flex;
		justify-content: space-between;
		div.buttons-right {
			display: flex;
			justify-content: flex-end;
			button:first-child {
				margin-right: 20px;
			}
			button:last-child {
				margin-right: 0;
			}

		}
	}
	button {
		font-size: 16px;
		margin-bottom: 0;
	}

}



.annotate-button.new-project-button {
	margin-top: 0;
	max-width: 300px;
	i.after {
		margin-left: 10px;
		margin-right: 0;
	}
}

.new-project-form-body {
	padding-bottom: 60px;
	h2 {
		margin: 0;
		margin-bottom: 30px;
		border-bottom: 1px solid #d1d1d1;
		padding-bottom: 15px;
		&:not(:first-child) {
			margin-top: 45px;
		}
		span.form-help {
			float: right;
			color: #777;
			cursor: help;
			display: flex;
			align-items: center;
			margin-top: 11px;

			background: rgba(0, 0, 0, 0);
			border-radius: 4px;
			padding: 2px 5px;
			&:hover {
				color: #555;
				background: #d1d1d1;
			}
			.info {
				margin-left: 10px;
				font-size: 14px;
				margin-top: -2px;
			}
			i {
				margin-top: 2px;
				font-size: 20px;
			}
		}
	}
}

.form-group {
	margin-bottom: 15px;
	padding: 0 15px;
	&.no-padding {
		padding: 0;
	}
	box-sizing: border-box;

	label {
		display: block;
		font-weight: bold;
	}
	input, textarea, select {

		box-sizing: border-box;
		font-family: $primary-font;
		margin: 15px 0;
		width: 100%;
		padding: 12px 18px;
		border-radius: 4px;
		font-size: 18px;
		&:focus, &:active {
			border: 2px solid $button-blue;
			outline: none !important;
		}
	}
	select {
		padding-right: 36px;
	}
	textarea {
		height: 200px;
	}
}

.upload-form-container {	
	margin-top: 36px;
	.upload-form {
		background: rgba($button-blue, 0.2);
		border: 2px dashed rgba($button-blue, 0.6);
		height: 355px;
		box-sizing: border-box;
		border-radius: 4px;
	}
}

body.ReactModal__Body--open #app {
	filter: blur(2px);
	#navbar {
		top: -50px;
	}

}

.modal {
	
	background-color: #eee;
	border-radius: 3px;
	padding: 30px 45px;
	box-sizing: border-box;
	box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.9);
	&:focus {
		outline: none !important;
	}
	min-height: 400px;
	width: 600px;
	h2 {
		margin: 0;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
	}
	ul {
		padding-right: 10px;
		li {
			margin-bottom: 20px;
		}
	}

}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100000;
	display: flex;
	align-items: center;
	justify-content: center;

}