.curation-interface-inner {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	height: 100%;

	div.agreement-score {
		font-size: 20px;
		margin-top: -20px;
		margin-bottom: 15px;
		padding: 0 60px;
		text-align: center;
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.name {
			color: #777;
			font-size: 16px;
			margin-right: 15px;
		}
		.value {
			font-size: 40px;
			font-weight: 600;
			color: #222;
			&.na {
				color: #777;
			}
		}
	

	}


}

.document-window {
	width: 100%;
	background: none;

	div.divider {
		padding: 20px 60px;
		box-sizing: border-box;
		margin-bottom: 10px;
		span {
			border-bottom: 1px solid #ccc;
			width: 100%;
			height: 10px;
			display: block;

		}
	}

}
#sentence-tagging.document-window {
	margin-top: 50px;
}
.comments-pane {
	.hidden {
		visibility: hidden;
	}
	position: relative;
	.no-comments-yet {		
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		color: rgba(0, 0, 0, 0.4);
		position: absolute;
		width: calc(100% - 20px);

		top: 280px;
		

	}

	width: 600px;
	background: #ccc;
	box-shadow: inset 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
	position: relative;
	.comments-wrapper {
		border: 1px solid #ddd;
		height: 100%;
		h3 {
			margin-top: 0;
			margin-bottom: 0;
			padding: 20px 25px;
		}
		.comments-inner {
			padding: 0 10px;
		}

		border-radius: 0;
		.comments-even-more-inner {
			min-height: calc(100vh - 420px);

		}
		textarea {
			height: 140px;
		}
	}
}

#sentence-tagging .sentence.display-only {
	pointer-events: none;
}

#tagging-interface #sentence-tagging.curation-page {
	margin-top: 0;
}
#tagging-interface #sentence-tagging.curation-page {
	min-height: calc(100vh - 100px);
	margin-bottom: 0;
}
#pagination.curation-page {
	position: relative;
	margin-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	margin-bottom: 0;
}

.curation-page .sentence {
	font-size: 16px;
}
.curation-page .document-container {
	padding: 10px 60px;
}

#sentence-tagging {
	margin-bottom: 200px;
	.document-container {

		.curation-document {
			background: #fefefe;
			display: block;
			position: relative; 

			display: flex;
			flex-direction: row;

			color: #222;

			// cursor: pointer;
			// &:hover {
			// 	box-shadow: 0px 0px 0px 4px $primary-green;
			// }

			.user-col {
				.circle-icon {
					margin: 0;
					//box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.95);
				}
				width: 100px;
				background: #f5f5f5;
				align-items: center;
				justify-content: center;
				display: flex;
				flex-direction: column;
				//background: #444;
				padding: 10px 25px;
				align-items: center;
				font-size: 15px;
				color: #222;
				min-height: 35px;
				text-align: center;

				.username {
					margin-top: 4px;
					margin-bottom: 4px;
				}
				
				.save-time {
					color: #888;
				}
				i.fa-info-circle {
					margin-left: 10px;
				}
			}
			&.not-yet-annotated {
				.user-row {
					background: rgba(0, 0, 0, 0.25);
					.profile-icon {
						background: none;
						visibility: hidden;
						
					}
				}
				.sentence .word { opacity: 0.2; }
				.sentence:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					font-size: 20px;
					content: "Not yet annotated";
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					color: rgba(0, 0, 0, 0.6);
				}
			}
			.sentence {
				padding: 20px;
				padding-top: 16px;


				.word .word-inner {
					padding: 10px 8px;
					height: auto;	

					.search-highlight {
						
						
						&:before {
						
							top: 0px;
			

						}
		
					}
				}

				.word {

					.label {
						&:before {
							display: none;
						}
						padding-left: 10px;
						padding: 10px 5px;


					}
				}
			}
		}
	}
}