nav#navbar
	.navbar-left
		#logo

			a(href="/")
				span.inner
					span.img
						img(src='/images/redcoat-1-grey-small.png')
					span Redcoat
	.navbar-centre
		| #{title}
	.navbar-right
		if (!user)
			div(class="dropdown-menu")
				span Not logged in
					span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="/register") Register
					li: a(href="/login?previous=" + path) Login

		else
			div(class="dropdown-menu")
				a(href="/projects") Projects
					//span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="/projects") Projects list
					li: a(href="/setup-project") Setup project

			div(class="dropdown-menu")
				span Logged in as #{user.username}
					//span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="/profile") Profile
					li: a(href="/logout") Logout

		div(class="dropdown-menu short")
			a(href="/features") v0.1



			//if (tagging)
				//- div.profile-circle-container
				//- 	div#profile-circle(style="background-image: url('/images/rank_icons/chevron.png')")
				//- 	div#profile-banner
				//- 		| Officer Cadet&nbsp;&nbsp;(#{user_stars}&nbsp;<i class="fa fa-star award-stars"></i>)
				//- 		span.sneaky-border