extends ../layout

block content
	div.user-form.form-box
		.header
			h1 Forgot Password
		.body
			if message
				div.error-message <span class="error">Error:</span> #{message}

			if email_sent
				br
				br
				p(style="line-height: 200%; text-align: center;") An email address has been sent to #{email_sent} with further instructions.
				br
				br
				div.buttons(style="margin-bottom: 40px;")
					div
						a.back-button(href="" + base_url) <i class="fa fa-chevron-left"></i>&nbsp;&nbsp; Home
			else
				form(action="" + base_url + "forgot_password",method="post")
					input(type="hidden", name="_csrf", value="" + csrfToken)
					div
						label Email
						input(type="email",name="email", placeholder="Email", required, value=formData.email, autofocus)

					div.buttons
						div
							a.back-button(href="" + base_url + "login") <i class="fa fa-chevron-left"></i>&nbsp;&nbsp; Back
						div
							input(type="submit",value="Reset password")
	canvas#background(height="1080" width="1920")

block scripts
	script.
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
		}