extends ../layout

block content
	div.user-form.form-box
		.header
			h1 Reset Password
		.body
			if message
				div.error-message <span class="error">Error:</span> #{message}

			if password_is_reset
				br
				br
				p(style="line-height: 200%; text-align: center;") Your password has been successfully reset.
				br
				br
				div.buttons(style="margin-bottom: 40px;")
					div
						a.back-button(href="" + base_url + "login") <i class="fa fa-chevron-left"></i>&nbsp;&nbsp; Login
			else
				form(action="" + base_url + "reset_password/" + token, method="post")
					input(type="hidden", name="_csrf", value="" + csrfToken)
					div
						label Password
						input(id="password", type="password",name="password", placeholder="Password", autofocus, required, value=formData.password)

						label Password confirmation
						input(id="password_confirmation", type="password",name="password_confirmation", required, placeholder="Password confirmation", value=formData.password_confirmation)

					div.buttons
						div
							a.back-button(href="" + base_url + "login") <i class="fa fa-chevron-left"></i>&nbsp;&nbsp; Back
						div
							input(type="submit",value="Reset password")
	canvas#background(height="1080" width="1920")


block scripts
	script.
		var password = document.getElementById("password")
		, password_confirmation = document.getElementById("password_confirmation");

		function validatePassword(){
			if(password.value != password_confirmation.value) {
				password_confirmation.setCustomValidity("Passwords don't match.");
			} else {
				password_confirmation.setCustomValidity('');
			}
		}

		password.onchange = validatePassword;
		password_confirmation.onkeyup = validatePassword;

	script.
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
		}