#dashboard {
	position: relative;
}
#dashboard a.dashboard-hover {
	&:hover {
		text-decoration: none;
	}
	text-decoration: none;
}

table.dashboard-project {

	color: #222;

	
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: 40px;
	&:hover {
		border: 1px solid $primary-red;
		cursor: pointer;
	}

	th {
		padding: 12px 24px;
		background: white;
		border-bottom: 1px solid #ccc;
	}

	table {
		width: 100%;
		background: #f6f6f6;

		td, th {
			padding: 12px 24px;
			text-align: center;
		}
		th {
			background: none;		
			border: none;
			span {
				border-bottom: 1px solid #ddd;
				padding: 0 30px;
				padding-bottom: 4px;
			}
			font-size: 18px;
			margin: 0;
			padding: 0;
			margin-bottom: 6px;
		}
		td, th {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		tr td:nth-child(1), td th:nth-child(1) {
			width: 30%;
		}
		 tr td:nth-child(2), tr th:nth-child(2) {
		 	width: 25%;
		 }



		ul.metadata {
			font-size: 14px;
			color: #777;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 10px;
				&:not(:last-child):after {
					margin: 0 20px 0 40px;
					content: "|";
					color: #ccc;

				}
			}
		}

		span.desc {
			color: #555;
		}

	}

	





}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

span.progress-bar {
	color: #222;
	display: inline-block;
	width: 100%;
	padding: 0;
	text-align: left;
	background: #eaeaea;
	line-height: 130%;
	&.large {
		line-height: 260%;
	}
	.inner {
		transition: width 0.5s ease;
		background: linear-gradient(#ddd, #cacaca);
		width: 0%;
		padding: 0;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 0;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url('/images/bars.png');
			background-blend-mode: lighten;
			opacity: 0.2;
			animation: animatedBackground 40s linear infinite;

		}
	}
	&.coloured .inner {
		background: linear-gradient(darken($primary-red, 21), darken($primary-red, 28));
		color: white;
	}	
}



// Dashboard

.dataTables_filter, .dataTables_length {
   display: none;
}
.dataTables_info {
	margin-bottom: 100px;
}


#projects-table {
	thead {
		display: none;
	}
	background: none;
	border-bottom: 1px solid #d7d7d7;
	.detailed-show {
		display: none;
	}
	.detailed-table {
		display: block;
	}

	&.detailed-view {
		display: block;
		border-bottom: none;

		.list-show {
			display: none !important;
		}
		tbody {
			display: block;
		}
		tbody tr {
			display: block;
			background: url('/images/stripes-light.png');
			background-repeat: repeat;

			&:not(.group) {
				border: 1px solid #ccc;
			}
		}
		thead tr {
			border: none !important;
		}
		td {
			display: block;
			background: none;
			border: none;
		}
		tr:not(.group):nth-child(odd) td {
			background: none;
		}
		td:last-child {
			border-right: none;
		}
		tr:not(.group) td:first-child {
			padding: 10px 10px;
			background: white;
			border-left: none;
			border-bottom: 1px solid #ccc;
			font-weight: bold;
			text-align: center;

		}
	
		tr:not(.group):hover {
			cursor: pointer;
			border: 1px solid $primary-red;

		}
		.detailed-show {
			display: block;
		}
		.detailed-table {
			margin-top: 10px;
			display: table;
			width: 100%;
			> * {
				display: table-cell;
				width: 50%;
			}
		}
		.detailed-fullwidth {
			display: block;
			text-align: center;
			padding: 0 20px;
		}

	}
	&:not(.detailed-view) {

		tr:not(.group) {
			td {
				border: 1px solid rgba(0, 0, 0, 0);
				border-left: none;
				border-right: none;
			}
			td:first-child { border-left: 1px solid rgba(0, 0, 0, 0); }
			td:last-child { border-right: 1px solid rgba(0, 0, 0, 0); }

			td:nth-child(1) { width: 45%; }
			td:nth-child(2) { width: 15%; text-align: right; }
			td:nth-child(3) { width: 5%; text-align: right; }
			td:nth-child(4) { width: 35%; }
			td:nth-child(5) { width: 5%; }
		}
		tr:not(.group):hover {
			cursor: pointer;
			td {
				border-top: 1px solid $primary-red;
				border-bottom: 1px solid $primary-red;
			}
			td:first-child {
				border-left: 1px solid $primary-red;
			}
			td:last-child {
				border-right: 1px solid $primary-red;
			}
		}
		a.button {
			width: 40px;
		}
	}
	thead {
		//background: #eee;
	}

	th {

		border-bottom: none;
	}
	tr.group {
		background: none;
		td {
			padding: 10px 20px;
			background: none;
			background: $sidenav-white-color;
			color: #222;
			//border: 1px solid darken($sidenav-white-color, 5);
			border-left: 18px solid darken($primary-red, 16);
		}
		span.sort-info {
			font-weight: normal;
			float: right;
		}
	}
	tr {
		margin-bottom: 40px;
	}
	tr.even td {
		background: #f5f5f5;
	}
	td:first-child {
		border-left: 1px solid #d7d7d7;
	}
	td:last-child {
		border-right: 1px solid #d7d7d7;
	}
	// &:not(.detailed-view) {
	// 	tr:not(.group):hover {
	// 		cursor: pointer;
	// 		td:first-child {
	// 			border-left: 4px solid darken($primary-red, 21);
	// 		}
	// 	}
	// }
	tr:not(.group) td {
		padding: 10px;
	}
	// td a {
	// 	padding: 10px 10px;
	// 	color: #222;
	// 	display: block;
	// 	&:hover {
	// 		text-decoration: none;
	// 	}
	// }
	tr:hover span.progress-bar {
		color: white;
		.inner {
			background: linear-gradient(darken($primary-red, 21), darken($primary-red, 28));
		}	
	}

	ul.metadata {
		font-size: 14px;
		color: #777;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 10px;
			&:not(:last-child):after {
				margin: 0 20px 0 40px;
				content: "|";
				color: #ccc;

			}
		}
	}

	.right {
		float: right;
	}
	a.button {
		width: auto;
		margin: 0;
		height: 40px;
		border: 1px solid #222;
		border-radius: 3px;
		margin-top: -2px;
		font-size: 20px;
		color: #222;
		transition: none;
		padding: 0;
		padding-left: 11px;
		padding-top: 1px;
		font-size: 14px;
		padding-right: 11px;
		&:hover {
			color: white;
			background: darken($primary-red, 12);
			border: 1px solid darken($primary-red, 18);
			text-decoration: none;
		}

	}
}




#project-details {
	h3 {
		margin-top: 0;
		margin-bottom: 10px;
		a {
			float: right;
			font-size: 0.75em;
			margin-right: 10px;
			border-radius: 3px;
			padding: 0 10px;
			i {
				margin-left: 5px;
				max-width: 0px;
				overflow: hidden;
			}
			&:hover {
				text-decoration: none;
				color: white;
				background: lighten($primary-blue, 5);
			}
			&:hover i {
				max-width: 1em;
			}

		}
	}

	.details-box {
		padding: 10px 20px;
		border: 1px solid #ddd;
		background: white;
		border-radius: 3px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 30px;
		.progress-bar {
			margin-top: 10px;
		}
	}
	table.metadata { 
		margin-left: -2px;
		td:first-child {
			font-weight: bold;
			padding-right: 15px;
		}
	}
	p {
		margin: 0;
		padding: 1px 0;
		&.less-spacing {
			margin-top: 5px;
			line-height: 150%;
		}
	}
	span.data-unknown {
		color: #aaa;
	}

}




#dashboard {
	#project-details, #project-list {
		opacity: 0;
		pointer-events: none;
		transform: translate(100px, 0px);
		transition: all 0.2s ease;
		position: absolute;
		width: 100%;
		height: 70vh;
		overflow-y: hidden;
		&.show {
			overflow-y: visible;
			transform: translate(0, 0);
			opacity: 1;
			pointer-events: auto;
		}
		&.quick {
			transition: none;
		}
	}




	#project-list {
		transform: translate(-100px, 0);
		height: auto;
		position: relative;
		&:not(.show) {
			height: 950px;
		}
	}

	#project-details .tab {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		transition: all 0.2s ease;
		transform: translate(0, 100px);
		&.show {
			opacity: 1;
			pointer-events: auto;
			transform: translate(0, 0);
		}
		#svg-entity-categories {
			height: 70vh;
			border: 1px solid #ddd;
		}
		&#tab-category-hierarchy {
			margin-top: -30px;
			h2 {
				margin-top: 0;
			}
		}
	}
}

#sidenav-project-details, #sidenav-project-list {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	&.show {
		opacity: 1;
		pointer-events: auto;
	}
	&.quick {
		transition: none;
	}
}

.loading-item {
	min-height: 70vh;
	width: 100%;
	height: 70vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	pointer-events: none;
	background: #f2f2f2;
	z-index: 100;
	font-size: 24px;
	color: #777;
	transition: opacity 0.2s ease;
	opacity: 0;
	top: 0;
	i {
		margin-right: 8px;
	}
	&.show {
		opacity: 1;
		pointer-events: auto;
	}
}
.not-loaded {
	visibility: hidden;
}


// #projects-table_paginate .paginate_button {
// 	&.current {
// 		background: #ddd;
// 		border: 1px solid #ddd;
// 	}
// 	&:hover {
// 		background: darken($primary-red, 14);
// 		border: 1px solid darken($primary-red, 18);
// 	}
// }