@import "../../node_modules/font-awesome/scss/font-awesome";

//$base-url: "/redcoat/";

@import "environment";


$primary-color: #222222;

$navbar-height: 50px;

$tagging-progress-bar-height: 50px;

$error-red: lighten(rgb(185, 12, 5), 6);

$primary-font: "Open Sans", sans-serif;

$primary-blue: darken(rgb(46, 141, 191), 9);
$primary-red: #f44242;
$primary-red-dark: saturate(darken($primary-red, 38), 80);
$primary-gold: #ffcc00;
$primary-orange: rgb(250, 139, 91);
$primary-green: #10B610;

$sidenav-color: #222;
$sidenav-white-color: #ddd;
$sidenav-arrow-color: $primary-gold;

// Category hierarchy colours list
$colors: #99FFCC, #FFCCCC, #CCCCFF, #CCFF99, #CCFFCC, #CCFFFF, #FFCC99, #FFCCFF, #FFFF99, #FFFFCC, #CCCC99, #fbafff;

//$sidenav-color: $primary-red-dark;
//$sidenav-arrow-color: $primary-gold;
