@import "mixins";


.loading nav#navbar {
	pointer-events: none;
}

nav#navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	background: $primary-color;
	
	padding: 0px 0;
	height: $navbar-height;
	box-sizing: border-box;
	//box-shadow: 1px 1px 5px -2px darken($primary-color, 40);
	color: white;
	display: flex;
	justify-content: space-between;
}

nav#navbar .navbar-left {
	justify-self: flex-start;
	display: flex;
}
.award-stars {
	color: $primary-gold;
}
span.caret {
	font-size: 0.8em;
	padding-left: 5px;
}


#logo {
	box-sizing: border-box;
	margin-left: 0px;
	padding: 4px;
	display: flex;
	img {
		width: 42px;
	}
	a {
		font-size: 16px;
		span.text {
			margin: 0 10px;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		
		overflow: hidden;

		background: #333;
		border-radius: 8px;
		padding: 5px 0;
		display: flex;
		text-decoration: none;
		color: #eee;
		text-shadow: 2px 2px #111;

		&:hover {
			background: #555;
		}
		
	}
}

nav .navbar-centre {
	text-align: center;
	padding: 12px 0;
	font-weight: bold;
	width: 65%;
	margin: 0 auto;
	position: absolute;
	left: 17.5%;
}


nav#navbar .navbar-right {
	//width: 17.5%;

	/*width: 190px;	*/	
	display: flex;

	justify-self: flex-end;
}


// nav#navbar .navbar-right input, nav#navbar .navbar-right button {
// 	height: 36px;
// }
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav .dropdown-menu {
	text-align: center;
	z-index: 1000;
	font-size: 14px;
	display: inline-block;
	height: $navbar-height;
	//min-width: 120px;

	&.short {
		min-width: 60px;
	}
	position: relative;
	text-align: center;
	cursor: pointer;
	display: flex;
	a {
		text-align: center;
		align-self: center;
	}
	> button {
		width: 100%;
		padding: 0 25px;
		text-align: center;
		text-decoration: none;
		color: #fefefe;
		height: $navbar-height;
		vertical-align: middle;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: none;
		border-left: 1px solid rgba(255, 255, 255, 0);
		border-right: 1px solid rgba(255, 255, 255, 0);
		height: 100%;
		margin: 0;
		width: 100%;

	}
	> a {
		padding: 0 15px;
		color: #fefefe;
		text-decoration: none;
		display: block;
		height: 100%;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;
	}
	> button {
		&:focus {			
			pointer-events: none;
		}
	}
	&.inactive {
		> a, > button {
			color: #aaa;
		}
	}
	a {
		cursor: pointer;
	}


	margin-top: 0px;
	

}

nav .dropdown-menu.invitations {
	.invites-count {
		background: $primary-red;
		font-weight: bold;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		position: absolute;
		left: 50%;
		top: 24px;
		font-size: 11px;
		padding-bottom: 1px;
		padding-left: 1px;
		padding-right: 1px;

	}
	&.inactive .dropdown-menu-items {
		overflow-y: visible;
	}
	.dropdown-menu-items {
		overflow-y: scroll;
		max-height: 300px;
		width: 300px;
		max-width: 300px;

		li {
			&:not(:last-child) {
				border-bottom: 1px solid #ccc;
			}
			
			span.invite {
				&.declined {
					pointer-events: none;
					opacity: 0.2;
				}
				padding-top: 15px;
				padding-bottom: 15px;
				text-align: center;
				cursor: default;
				span.link {
					font-weight: bold;
					color: black;
				}
				div.invite-form-accepted, div.invite-form-declined {
					margin-top: 20px;
					margin-bottom: 5px;
					padding: 0px 0;
					&.show {
						display: block;
					}
					a {
						text-decoration: none;
						color: darken($primary-blue, 4);
						&:hover {
							background: none;
							text-decoration: underline;
							color: lighten($primary-blue, 1);
						}
					}
				}
				div.invite-form-loading {
					margin-top: 20px;
					margin-bottom: 5px;
					padding: 0px 0;
					&.show {
						display: block;
					}
				}
				div.invite-form {
					&.hide {
						display: none;
					}
					margin-top: 15px;
					display: block;
					text-align: center;
					button {
						text-decoration: none;
						padding: 5px 10px;
						display: inline;
						width: auto;
						border: none;
						font-size: 12px;
						margin: 0;
						cursor: pointer;
					}
					button.accept {
						border-radius: 3px;
						background: $primary-green;
						color: white;
						&:hover {
							background: lighten($primary-green, 5);
						}

					}
					button.decline {
						background: none;
						color: #444;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

nav .dropdown-menu:hover > button, nav .dropdown-menu:hover > a, nav .dropdown-menu button:focus {
	background: #555;
	cursor: pointer;

	color: white;
	> a, > span {
		color: white;
	}
}

nav .dropdown-menu ul.dropdown-menu-items {
	display: none;
	position: absolute;
	top: 36px;
	left: -1px;
	width: 200%;
	max-width: 180px;

	background: #fafafa;
	padding: 0;
	border: 1px solid #ccc;
	border-top: 0;
}
nav .dropdown-menu .dropdown-menu-items li.separator {
	background: none;
	color: #888;
	padding: 8px 15px 8px 15px;
	font-size: 0.8em;
	cursor: default;
	text-align: left;
	text-transform: uppercase;
}

nav .dropdown-menu .dropdown-menu-items li {
	display: block;
}
nav .dropdown-menu .dropdown-menu-items li > a, nav .dropdown-menu .dropdown-menu-items li > span.invite {
	padding: 10px 15px;
	color: #555;
	font-size: 12px;
	display: block;
	text-decoration: none;
	text-align: left;
}
nav .dropdown-menu .dropdown-menu-items li a:hover {
	color: black;
	background: #eee;
}
nav .dropdown-menu:active .dropdown-menu-items, nav .dropdown-menu a:focus ~ .dropdown-menu-items, nav .dropdown-menu button:focus ~ .dropdown-menu-items {
	display: block;

}


button#save-to-file {
	font-family: "Open Sans", sans-serif;

	box-sizing: border-box;
	cursor: pointer;
	text-align: center;	
	margin-left: 10px;
}


input#jump-to-batch {
	padding-left: 8px;
	width: 135px;
}
button#jump-to-batch-go {
	width: 40px;
	text-align: center;	
	cursor: pointer;

}