@import "mixins";

#dashboard a.dashboard-hover {
	&:hover {
		text-decoration: none;
	}
	text-decoration: none;
}

table.dashboard-project {

	color: #222;

	
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: 40px;
	&:hover {
		border: 1px solid $primary-red;
		cursor: pointer;
	}

	th {
		padding: 12px 24px;
		background: white;
		border-bottom: 1px solid #ccc;
	}

	table {
		width: 100%;
		background: #f6f6f6;

		td, th {
			padding: 12px 24px;
			text-align: center;
		}
		th {
			background: none;		
			border: none;
			span {
				border-bottom: 1px solid #ddd;
				padding: 0 30px;
				padding-bottom: 4px;
			}
			font-size: 18px;
			margin: 0;
			padding: 0;
			margin-bottom: 6px;
		}
		td, th {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		tr td:nth-child(1), td th:nth-child(1) {
			width: 30%;
		}
		 tr td:nth-child(2), tr th:nth-child(2) {
		 	width: 25%;
		 }



		ul.metadata {
			font-size: 14px;
			color: #777;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 10px;
				&:not(:last-child):after {
					margin: 0 20px 0 40px;
					content: "|";
					color: #ccc;

				}
			}
		}

		span.desc {
			color: #555;
		}

	}

	





}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

span.progress-bar {
	color: #222;
	display: inline-block;
	width: 100%;
	padding: 0;
	text-align: left;
	background: rgba(0, 0, 0, 0.05);
	line-height: 130%;
	.inner {
		transition: width 0.5s ease;
		background: linear-gradient(#ddd, #cacaca);
		width: 0%;
		padding: 0;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 0;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url('/images/bars.png');
			background-blend-mode: lighten;
			opacity: 0.2;
			animation: animatedBackground 40s linear infinite;

		}
	}
}



// Dashboard

.dataTables_filter, .dataTables_length {
   display: none;
}


#projects-table {
	thead {
		display: none;
	}
	background: none;
	border-bottom: 1px solid #d7d7d7;
	.detailed-show {
		display: none;
	}
	.detailed-table {
		display: block;
	}
	&.detailed-view {
		display: block;

		tbody {
			display: block;
		}
		tbody tr {
			display: block;
			&:not(.group) {
				border: 1px solid #ccc;
			}
		}
		thead tr {
			border: none !important;
		}
		td {
			display: block;
			background: #f6f6f6;
			border: none;

		}
		td:last-child {
			border-right: none;
		}
		tr:not(.group) td:first-child {
			padding: 12px 24px;
			background: white;
			border-left: none;
			border-bottom: 1px solid #ccc;
			font-weight: bold;
			text-align: center;

		}
	
		tr:not(.group):hover {
			cursor: pointer;
			border: 1px solid $primary-red;

		}
		.detailed-show {
			display: block;
		}
		.detailed-table {
			margin-top: 10px;
			display: table;
			width: 100%;
			> * {
				display: table-cell;
				width: 50%;
			}
		}
		.detailed-fullwidth {
			display: block;
			text-align: center;
			padding: 0 20px;
		}

	}
	&:not(.detailed-view) {

		tr:not(.group) {
			td {
				border: 1px solid rgba(0, 0, 0, 0);
				border-left: none;
				border-right: none;
			}
			td:first-child { border-left: 1px solid rgba(0, 0, 0, 0); }
			td:last-child { border-right: 1px solid rgba(0, 0, 0, 0); }

			td:nth-child(1) { width: 35%; }
			td:nth-child(2) { width: 15%; text-align: right; }
			td:nth-child(3) { width: 50%; }
		}
		tr:not(.group):hover {
			cursor: pointer;
			td {
				border-top: 1px solid $primary-red;
				border-bottom: 1px solid $primary-red;
			}
			td:first-child {
				border-left: 1px solid $primary-red;
			}
			td:last-child {
				border-right: 1px solid $primary-red;
			}

		}
	}
	thead {
		//background: #eee;
	}

	th {

		border-bottom: none;
	}
	tr.group {
		background: none;
		td {
			background: none;
			border: 1px solid #ddd;
			background: $sidenav-white-color;
			color: #222;
		}
	}
	tr {
		margin-bottom: 40px;
	}
	tr.even td {
		background: #f5f5f5;
	}
	td:first-child {
		border-left: 1px solid #d7d7d7;
	}
	td:last-child {
		border-right: 1px solid #d7d7d7;
	}
	// &:not(.detailed-view) {
	// 	tr:not(.group):hover {
	// 		cursor: pointer;
	// 		td:first-child {
	// 			border-left: 4px solid darken($primary-red, 21);
	// 		}
	// 	}
	// }
	tr:not(.group) td {
		padding: 0;
	}
	td a {
		padding: 10px 10px;
		color: #222;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	tr:hover span.progress-bar {
		color: white;
		.inner {
			background: linear-gradient(darken($primary-red, 21), darken($primary-red, 28));
		}	
	}

	ul.metadata {
		font-size: 14px;
		color: #777;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 10px;
			&:not(:last-child):after {
				margin: 0 20px 0 40px;
				content: "|";
				color: #ccc;

			}
		}
	}
}