
nav#sidenav {
	width: 17.5%;
	background: $sidenav-color;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 10;
	@if($sidenav-color == $primary-red-dark) {
		border-right: 12px double $primary-gold;
	}
	//border-right: 12px double $primary-gold;
	//max-width: 350px;
	h3.page-title {
		padding: 10px 0;
		margin: 0;
		text-align: center;
		color: #444;
		margin-top: 15px;
		border-bottom: 1px solid #ccc;
	}
	&.sidenav-project {
		background: $sidenav-white-color;
		border-right: 1px solid darken($sidenav-white-color, 5);
		select {
			font-family: $primary-font, 'FontAwesome';
		}
		input:not(:focus), select:not(:active) {
			border: 2px solid #c2c2c2;
		}
	}
	&.sidenav-project ul {
		width: 100%;
		padding :0;
		color: #444;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 175px;
		&.project-details li {
			padding: 0;
		}
		li {
			transition: border 0.3s ease;
			color: #222;
			padding: 5px 20px;




			label {
				font-weight: bold;
			}
			&.hoverable {
				cursor: pointer;
			}
			&.hoverable:hover {
				background: #f2f2f2;

			}
			span {
				padding-left: 25px;

			}
			select, input {
				padding: 5px 10px;
			}
			&.current a {
				background: white;
			}
			a {
				i {
					margin-right: 8px;
				}
				font-weight: bold;
				color: #444;
				text-decoration: none;
				display: block;
				padding: 20px 20px;
			}

			&:hover a {
				color: #222;
				background: white;
			}

			span.sort-container {
				padding: 0;
				padding-right: 10px;
				width: 100%;
				display: flex;
				
				.sort-button {
					width: 34px;
					padding: 5px 10px;
					padding-top: 10px;
					margin: 0;		
					margin-right: 4px;
					margin-top: 10px;	
					margin-bottom: 10px;
					border: 2px solid #c2c2c2;
					background: white;
					&:after {
						display: none;
					}
					&:active {
						border: 2px solid $primary-orange;
					}
					i.fa-sort-down {
						transform: translate(0px, -5px);
					}
				}
			}

			&.current {
				//background: darken($primary-red, 21);
				color: #222;
				font-weight: bold;
				background: #f2f2f2;
			}
			i {
				opacity: 1;
				margin-top: 2px;
				float: none;
				margin-right: 12px;
			}

		}
	}
}