@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono:400,700');

@import "mixins";
@import "navbar";
@import "sidenav";

// The homepage
@import "homepage";

// The form for logging in/registering
@import "users/user-form";

// The setup project page
@import "setup_project/setup-project";
@import "setup_project/upload-widget";
@import "setup_project/jquery-linedtextarea";

// The category tree
@import "category_tree/category-tree";
@import "category_tree/d3-context-menu";

// The project dashboard
@import "projects/projects";

// The tagging interface
@import "tagging/tagging-interface";

html {
	height: 100%;
}
body {
	font-family: $primary-font;
	padding: 0;
	margin: 0;
	background: #e9e9e9;
	color: #222;
	font-size: 20px;
	//background-image: url("/images/pattern.svg")
	//background: gradient()
	//background-image: url("/images/squairy_light_@2X.png");
	//background-size: cover;
	&.homepage {
		background: linear-gradient(rgb(250, 139, 91), rgb(185, 12, 5)) no-repeat;
		background-size: cover;
		height: 100%;
		transition: background 0.5s ease;
	}
	
	background-repeat: repeat;

	&.setup-menu {
		background: #f4f4f4;
	}
}

#app {
	&.loading {

		main {
			opacity: 0.5;
		}
		#navbar .log-in {
			display: none;
		}
	}
}

pre.error-stack {
	font-size: 14px;
}

.button {
	vertical-align: top;
	background: rgba(255, 255, 255, 0.05);
	//color: white;
	width: 40%;
	display: inline-block;
	border: 0;
	padding: 10px 0;
	box-sizing: border-box;
	margin: 0 30%;
	margin-bottom: 30px;
	border: 2px solid white;
	//transition: background 0.2s ease;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	color: white;
	i {
		margin-right: 10px;
	}

	h2 {

	}
	&:hover {
		
		background: white;
		color: black;
		color: rgb(185, 12, 5);
		//transform: translate(0, 2px);
	}
	&:after {
		border-right: 2px solid darken(rgb(185, 12, 5), 30);
		border-bottom: 2px solid darken(rgb(185, 12, 5), 30);
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: -100;
		content: " ";
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
}


.column-50 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	&:first-child {
		padding-right: 20px;
	}
	&:last-child {
		padding-left: 20px;
	}
}

code {
	font-family: "Courier New", serif;
}

header canvas#background {
	position: absolute;
}

input, button {
	font-family: $primary-font;
}


hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 40px 0;
}

.center {
	text-align: center;
}
#main-container {
	width: 1600px;
	position: relative;
	margin: 0 auto;
	min-height: 90vh;
}

main {
	//width: 1152px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	//padding-top: 150px;
	//padding-left: 200px;
	//width: 70%;
	// margin: 0 auto; 
	// @media(max-width: 1700px) {
	// 	width: 60%;
	// }
	box-sizing: border-box;
	min-height: calc(100vh - 50px);
	&.error-page {
		background-image: url($base_url + 'images/redcoat-1-grey-transparent.png');
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 50px;
		margin-left: 15%;
		margin-right: 15%;
		padding-top: 60px;
		font-size: 1.3em;
		width: 70%;
		text-align: center;
	}
}
.container {
	width: 70%;
	margin: 0 auto;
}

i.fa-xxs {
	font-size: 0.8em;
	transform: translate(0, -1px);
}




header.bg-header {
	margin-top: $navbar-height;
	height: 75px;
	background: linear-gradient(135deg, rgb(200, 89, 41), rgb(185, 12, 5)) no-repeat;
	background-size: cover;
	width: 100%;
	z-index: 100;
	position: relative;
	overflow: hidden;
	position: relative;
	box-shadow: inset 0px -2px 6px -3px rgba(0, 0, 0, 0.5);


	display: flex;
	align-items: center;
	.message-bar {

	}
	.title {
		
	
		color: white;
		&.can-fade {
			opacity: 0;
			pointer-events: none;
			&.show {
				opacity: 1;
				pointer-events: auto;
			}
		}
		&.quick {
			transition: none;
		}

		h1 {
			text-shadow: 1px 1px #111;
			margin: 0;
			padding: 12px 0;
			font-size: 40px;
			float: left;
			margin-left: 300px;
		}
		.left {
			position: absolute;
			left: 4%;
		}
		.right {
			position: absolute;
			right: 390px;
		}
		a.button {
			border-radius: 3px;
			text-decoration: none;
			width: auto;
			margin: 0;
			padding: 10px 20px;
			margin-top: 25px;
			font-weight: bold;
			i {
				margin-right: 12px;
			}
		}
	}
}



footer {
	display: none;
	background: #222;
	color: white;
	width: 100%;
	z-index: 30000;
	padding: 20px 0;
	position: relative;
	font-size: 16px;
	color: #aaa;
	.container {
		padding-left: 17.5%;
		padding-right: 20px;
		.right {
			float: right;
		}
	}
}

span.progress-bar {
	color: #222;
	display: inline-block;
	width: 100%;
	padding: 0;
	text-align: left;
	background: #eaeaea;
	line-height: 130%;
	position: relative;
	&.thin {
		display: block;
		line-height: 100%;
		height: 16px;
		border: none;
		.inner {
			display: block;
			height: 16px;
		}
	}
	&.large {
		line-height: 260%;
	}
	.inner {
		transition: width 0.5s ease;
		background: linear-gradient(#ddd, #cacaca);
		width: 0%;
		padding: 0;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 0;
		white-space: pre;
		font-size: 16px;
		max-width: 100%;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url($base_url + 'images/bars.png');
			background-blend-mode: lighten;
			opacity: 0.2;			

		}
		&:before {
			animation: animatedBackground 30s linear infinite;

		}
		&.no-animation:before {
			-webkit-animation-play-state: paused;
			animation-play-state: paused;
		}
		&.play:before {
			-webkit-animation-play-state: running;
			animation-play-state: running;
		}
	}
	.progress-text {
		color: white;
		text-shadow: 1px 1px #222;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.inner {
		color: white;
		text-shadow: 1px 1px #222;
	}

	&.coloured .inner {
		background: linear-gradient(darken($primary-red, 21), darken($primary-red, 28));
		color: white;
	}	
	&.coloured.green .inner {
		background: linear-gradient(darken($primary-green, 1), darken($primary-green, 7));
	}

}

// Transitions
.fade-enter {
    margin-left: -30px;
    opacity: 0.00001;
}

.fade-enter.fade-enter-active {
    margin-left: 0;  
    opacity: 1;
    margin-left: 0px;
}

.fade-exit {
    margin-left: 0;
    opacity: 1;
    margin-left: 0px;

}

.fade-exit.fade-exit-active {
    margin-left: 0px;
    opacity: 0.00001;
    transition: all 100ms ease;
    margin-left: -30px;
    
}




section.route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 300ms ease;
    box-sizing: border-box;

  }
div.transition-group {
   position: relative;
   width: 100%;
}


// Skeleton text

.st {
	position: relative;

	&:after {
		position: absolute;
		top: 0.3em;
		left: 0;
		width: 100%;
		height: 0.8em;
		content: " ";
		pointer-events: none;
	}
}
.loading {
	.st {
		color: rgba(0, 0, 0, 0) !important;
	}
	.st:after {
		background: #eee;
	}
	.st-darker:after {
		background: #ddd;
	}

}

