@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono:400,700');

@import "mixins";
@import "navbar";
@import "sidenav";

// The homepage
@import "homepage";

// The form for logging in/registering
@import "users/user-form";

// The setup project page
@import "setup_project/setup-project";
@import "setup_project/upload-widget";
@import "setup_project/jquery-linedtextarea";

// The category tree
@import "category_tree/category-tree";
@import "category_tree/d3-context-menu";

// The project dashboard
@import "projects/projects";
@import "projects/curation_interface";

// The tagging interface
@import "tagging/tagging-interface";

html {
	height: 100%;
}
body {
	font-family: $primary-font;
	padding: 0;
	margin: 0;
	background: #e9e9e9;
	color: #222;
	font-size: 20px;
	//background-image: url("/images/pattern.svg")
	//background: gradient()
	//background-image: url("/images/squairy_light_@2X.png");
	//background-size: cover;
	&.homepage {
		background: linear-gradient(rgb(250, 139, 91), rgb(185, 12, 5)) no-repeat;
		background-size: cover;
		height: 100%;
		transition: background 0.5s ease;
	}
	
	background-repeat: repeat;

	&.setup-menu {
		background: #f4f4f4;
	}
}

#app {
	&.loading {

		main {
			opacity: 0.5;
		}
		#navbar .log-in {
			display: none;
		}
	}
}

pre.error-stack {
	font-size: 14px;
}

.button {
	vertical-align: top;
	background: rgba(255, 255, 255, 0.05);
	//color: white;
	width: 40%;
	display: inline-block;
	border: 0;
	padding: 10px 0;
	box-sizing: border-box;
	margin: 0 30%;
	margin-bottom: 30px;
	border: 2px solid white;
	//transition: background 0.2s ease;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	color: white;
	i {
		margin-right: 10px;
	}

	h2 {

	}
	&:hover {
		
		background: white;
		color: black;
		color: rgb(185, 12, 5);
		//transform: translate(0, 2px);
	}
	&:after {
		border-right: 2px solid darken(rgb(185, 12, 5), 30);
		border-bottom: 2px solid darken(rgb(185, 12, 5), 30);
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: -100;
		content: " ";
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
}


.column-50 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	&:first-child {
		padding-right: 20px;
	}
	&:last-child {
		padding-left: 20px;
	}
}

code {
	font-family: "Courier New", serif;
}

header canvas#background {
	position: absolute;
}

input, button {
	font-family: $primary-font;
}


hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 40px 0;
}

.center {
	text-align: center;
}
#main-container {
	width: 1600px;
	position: relative;
	margin: 0 auto;
	min-height: 90vh;
}

main {
	//width: 1152px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	//padding-top: 150px;
	//padding-left: 200px;
	//width: 70%;
	// margin: 0 auto; 
	// @media(max-width: 1700px) {
	// 	width: 60%;
	// }
	box-sizing: border-box;
	min-height: calc(100vh - 50px);
	&.error-page {
		background-image: url($base_url + 'images/redcoat-1-grey-transparent.png');
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 50px;
		margin-left: 15%;
		margin-right: 15%;
		padding-top: 60px;
		font-size: 1.3em;
		width: 70%;
		text-align: center;
	}
}
.container {
	width: 70%;
	margin: 0 auto;
}

i.fa-xxs {
	font-size: 0.8em;
	transform: translate(0, -1px);
}



header.decorative-bar {
	background: linear-gradient(135deg, rgb(200, 89, 41), rgb(185, 12, 5)) no-repeat;
	position: absolute;
	top: $navbar-height;
	left: 0;
	width: 100%;
	height: 4px;
}

header.bg-header {
	margin-top: $navbar-height;
	height: 75px;
	background: linear-gradient(135deg, rgb(200, 89, 41), rgb(185, 12, 5)) no-repeat;
	background-size: cover;
	width: 100%;
	z-index: 100;
	position: relative;
	overflow: hidden;
	position: relative;
	box-shadow: inset 0px -2px 6px -3px rgba(0, 0, 0, 0.5);


	display: flex;
	align-items: center;
	.message-bar {

	}
	.title {
		
	
		color: white;
		&.can-fade {
			opacity: 0;
			pointer-events: none;
			&.show {
				opacity: 1;
				pointer-events: auto;
			}
		}
		&.quick {
			transition: none;
		}

		h1 {
			text-shadow: 1px 1px #111;
			margin: 0;
			padding: 12px 0;
			font-size: 40px;
			float: left;
			margin-left: 300px;
		}
		.left {
			position: absolute;
			left: 4%;
		}
		.right {
			position: absolute;
			right: 390px;
		}
		a.button {
			border-radius: 3px;
			text-decoration: none;
			width: auto;
			margin: 0;
			padding: 10px 20px;
			margin-top: 25px;
			font-weight: bold;
			i {
				margin-right: 12px;
			}
		}
	}
}



footer {
	background: #222;
	color: white;
	width: 100%;
	z-index: 30000;
	position: relative;
	font-size: 16px;
	color: #aaa;
	padding: 30px 300px;
	box-sizing: border-box;
	

	&:after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: linear-gradient(135deg, rgb(200, 89, 41), rgb(185, 12, 5)) no-repeat;

	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url($base_url + 'images/redcoat-1-grey-transparent.png');
		background-size: auto 100%;
		content: " ";
		background-position: 60px 0;
		opacity: 0.2;
		pointer-events: none;
	}

	.container {
		padding-left: 17.5%;
		padding-right: 20px;
		.right {
			float: right;
		}
	}
	h2 {
		color: white;
	}
	.footer-logo {
		position: absolute;
		bottom: 0;

		left: 0;
		width: 300px;
		height: 100%;
		background-image: url($base_url + 'images/redcoat-1-grey.png');
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat
	}

}

span.progress-bar {
	color: #222;
	display: inline-block;
	width: 100%;
	padding: 0;
	text-align: left;
	background: #eaeaea;
	line-height: 130%;
	position: relative;
	&.thin {
		display: block;
		line-height: 100%;
		height: 16px;
		border: none;
		.inner {
			display: block;
			height: 16px;
		}
	}
	&.large {
		line-height: 260%;
	}
	.inner {
		transition: width 0.5s ease;
		background: linear-gradient(#ddd, #cacaca);
		width: 0%;
		padding: 0;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 0;
		white-space: pre;
		font-size: 16px;
		max-width: 100%;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url($base_url + 'images/bars.png');
			background-blend-mode: lighten;
			opacity: 0.2;			

		}
		&:before {
			animation: animatedBackground 30s linear infinite;

		}
		&.no-animation:before {
			-webkit-animation-play-state: paused;
			animation-play-state: paused;
		}
		&.play:before {
			-webkit-animation-play-state: running;
			animation-play-state: running;
		}
	}
	.progress-text {
		color: white;
		text-shadow: 1px 1px #222;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.inner {
		color: white;
		text-shadow: 1px 1px #222;
	}

	&.coloured .inner {
		background: linear-gradient(darken($primary-red, 21), darken($primary-red, 28));
		color: white;
	}	
	&.coloured.green .inner {
		background: linear-gradient(darken($primary-green, 1), darken($primary-green, 7));
	}

}



.circle-icon {
	min-width: 50px;
	min-height: 50px;
	border-radius: 50%;
	background: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	pointer-events: none;

	
}

.profile-icon {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;


	.profile-icon-i {
		color: rgba(0, 0, 0, 0.3);
		font-size: 32px;
	}


	// &:after {
	// 	position: absolute;
	// 	top: 5px;
	// 	left: 0;
	// 	width: 100%;
	// 	text-align: center;
	// 	content: "\f007";
	// 	font-size: 50px;
	// 	color: rgba(0, 0, 0, 0.3);
	// 	font-family: FontAwesome;
	// }


}

.circle-icon.small {
	min-width: 35px;
	min-height: 35px;

	.profile-icon-i {
		font-size: 25px;
	}
}



.circle-icon.extra-large {
	min-width: 220px;
	min-height: 220px;
	overflow: hidden;
	&:after, .profile-icon-i {
		font-size: 150px;
		display: inline;
		top: 20px;
	}
	
}

section.route-section {
    //position: absolute;
    width: 100%;
    //top: 0;
    //left: 0;
    
   	//transition: transform 400ms ease;
    box-sizing: border-box;


	// Transitions
	&.fade-enter {
	    //transition: transform 3000ms ease;
	    position: absolute;
	    &:not(.homepage-route-section) {
	    	top: 0;	
	    }
	    
	    left: 0;
	    
	    opacity: 0;
	    transform: translate(-30px, 0);
	}

	&.fade-enter-active {
		transition: transform 400ms ease, opacity 200ms ease;
		transform: translate(0px, 0);
	    opacity: 1;
	}

	&.fade-enter-done {
		transform: translate(0px, 0);
	    opacity: 1;
	}





	&.fade-exit {
		transition: transform 400ms ease, opacity 200ms ease;
	    transform: translate(0px, 0);
	    opacity: 1;
	}

	&.fade-exit.fade-exit-active {
	    opacity: 0.00001;
	    transform: translate(-30px, 0);	    
	}




  }
div.transition-group {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}


// Skeleton text

.st {
	position: relative;
	display: inline-block;




	&:after {
		position: absolute;
		top: 0.3em;
		left: 0;
		width: 100%;
		height: 0.8em;
		content: " ";
		pointer-events: none;
	}
	&.st-block {
		display: block;
	}


}


blockquote {
	margin: 10px 0;
	margin-left: 0px;
	border-left: 4px solid rgba($button-blue, 0.3);
	font-style: italic;
	background: rgba($button-blue, 0.1);
	padding: 2px 20px;
}


.loading {
	.st {
		color: rgba(0, 0, 0, 0) !important;
		pointer-events: none;

		
	}
	blockquote.st {
		border-left: 4px solid rgba(0, 0, 0, 0);
		background: #eee;
		i {
			visibility: hidden;
		}
	}
	.st:after {
		background: #eee;
	}
	.st-darker:after {
		background: #d3d3d3;
	}

}


.flex-columns {
	display: flex;
	align-items: center;
	&.align-center {
		justify-content: center;
	}
	.flex-column {
		padding: 0 30px;
	}
	.vertical-align-top {
		align-self: start;
	}
}


section.form-section {
	background: #fafafa;
	padding: 10px 50px;
	box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
	h3 {
		margin-bottom: 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #e2e2e2;
	}
	.form-save-row {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 40px 90px;
		.submit-button {
			width: 200px;
			flex-grow: 0;
		}
	}
}

.box-shadow {
	box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
}

#user-profile-page {
	padding-top: 40px;


	.flex-column:not(:last-child) {
		margin-right: 40px;
	}

	.icon-options {
		display: flex;
		width: 300px;
		color: #777;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.icon-option {
		
		padding: 3px;
		border-radius: 50%;
		border: 1px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: white;
		margin-right: 5px;
		margin-bottom: 5px;
		cursor: pointer;
		i {
			font-size: 24px;

		}
		&.active {
			background: $button-blue;
			color: white;
			border-color: rgba($button-blue, 0.6);

		}
		&:hover {
			i {
				transform: scale(1.2);
			}
		}
	}
}

.twitter-picker {
	//width: 100% !important;
	input {
		margin: 0 !important;
		padding: 5px !important;
		box-sizing: border-box;
		height: auto !important;
		padding-top: 6px !important;
	}
}

.annotate-button {
	margin-right: 60px;
	margin-top: -15px;
	display: block;
	padding: 25px 20px;
	padding-right: 30px;
	color: white;
	text-decoration: none;
	background: $button-blue;
	border-radius: 4px;
	flex-grow: 1;
	text-align: center;
	min-width: 210px;
	box-sizing: border-box;
	box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
	font-weight: 600;
	cursor: pointer;
	border-width: 0;
	i {
		margin-right: 15px;
	}
	&:hover {
		background: lighten($button-blue, 10);
		color: white;
	}
	&:active {
		transform: translate(0, 2px);
	}

	.subtitle {
		font-weight: normal;
		margin-top: 8px;
		font-size: 16px;
		color: rgba(255, 255, 255, 0.8);
	}

}


.comments-wrapper {
	display: block;

	background: rgba(255, 255, 255, 0.8);
	height: auto;
	//border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 40px;

	//box-shadow: 1px 1px 3px -3px rgba(0, 0, 0, 0.9);
	//z-index: 100;
	padding: 0;
	box-sizing: border-box;
	overflow: auto;
	position: relative;

	&.no-comments {
		box-shadow: none;
	}
	.comments-header {
		color: #222;
		font-size: 14px;
		font-weight: bold;
		background: #ddd;
		display: flex;
		align-items: center;
		padding: 10px 20px;
		width: 100%;
		box-sizing: border-box;
	}
	.comments-inner {
		.comments-even-more-inner { // dont care anymore
			max-height: 400px;
			overflow-y: scroll;
		}					
	}

	.comment-box {
		padding: 10px 20px;
		margin-bottom: 0;
	}
	.comment-document a {
		margin-left: 10px;
		margin-right: -10px;
		color: darken($button-blue, 16);
		text-decoration: none !important;
	}
	blockquote {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		align-items: center;
		span.document-string {
			display: block;
			width: 100%;
		
		}
		a {
			display: block;

		}
	}
}

@keyframes moving-bg {
  from {background-position: 0px 0px}
  to {background-position: -20000px -20000px}
}

.loading-screen {

	background-image: url($base_url + 'images/stripes-black-trans-50.png');
	//width: 100%;
	//margin-top: $navbar-height;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;	
	pointer-events: none;
	user-select: none;
	position: relative;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	transition: opacity 0.3s ease;


	&.fading-out {
		opacity: 0;
	}



	div.background {	
		//animation: moving-bg 400s; 	
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		&.background-under {
			opacity: 0.6;
			background-image: url($base_url + 'images/redcoat-1-grey-no-outline.png');
		}
		&.background-over {
			opacity: 0.8;
			background-image: url($base_url + 'images/redcoat-1-grey-transparent.png');
		}
	}
	
	span {
		z-index: 100;
		color: #999;
		font-size: 120px;
		//text-shadow: 3px 3px 3px  #111;
		i {
			margin-right: 40px;
		}
	}
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fade-in {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
     -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
}