#category-hierarchy-tree {
	overflow-y: scroll;
	height: 100%;
	margin-top: 10px;
	padding-right: 5px;
	position: relative;
	&.tall {
		height: 80vh;
	}
	&.hidden {
		display: none;
	}

}

#category-hierarchy-tree.display-only ul li .category-name,
#category-hierarchy-tree.display-only ul li .description {
	cursor: auto;
}

#category-hierarchy-tree.table-form > ul {
	padding-left: 0;

}

#category-hierarchy-tree.display-only ul li {
	user-select: auto;
}

#category-hierarchy-tree.table-form ul li {
	
	&.delete-hover {
		background: lighten($primary-red, 30) !important;
		span.inner-container {
			background: none;
		}
		
	}

	&:hover span.inner-container .delete-button-container {
		opacity: 1;

	}
	span.inner-container {

		.category-name, .description {
			padding-top: 8px;
			padding-bottom: 8px;
		&.modifiable {
			padding-top: 4px;
			padding-bottom: 4px;
		}
		
		}
		span.left {
			width: 30%;
		}

		span.right {
			width: 70%;
		}
		span.delete-button-container {

			width: 40px;
			display: flex;
			align-items: center;
			opacity: 0.2;
			span.delete-button {
				cursor: pointer;
				border-radius: 4px;
				padding: 0 8px;

				&:hover {
					background: $primary-red;
					
					color: white;
				}
				&:active {
					transform: translate(0, 1px);
				}
			}
		}
	}
	span.open-button {
		margin-top: 9px;
	}
	&.header-row {
		font-weight: bold;
		padding-left: 10px;
		background: #fefefe;
		color: #111;
		pointer-events: none;
	}
	> ul > li span.inner-container span.left {
		width: calc(30% - 35px);		
	}
	> ul > li span.inner-container span.right {
		width: calc(70% + 0px);
	}
	> ul > li > ul > li span.inner-container span.left {
			width: calc(30% - 60px);
	}
	> ul > li > ul > li span.inner-container span.right {
		width: calc(70% + 20px);
	}
}
#category-hierarchy-tree.table-form > ul > li {
	transition: background 0.3s ease;
}
#category-hierarchy-tree.table-form > ul > li:nth-child(odd) {
	background: #fefefe;
}
#category-hierarchy-tree.table-form > ul > li:nth-child(even) {
	background: #f3f3f3;
}

#category-hierarchy-tree.table-form > ul.reversed-stripes > li:nth-child(even) {
	background: #fefefe;	
}

#category-hierarchy-tree.table-form > ul.reversed-stripes > li:nth-child(odd) {
	background: #f3f3f3;	
}
#category-hierarchy-tree.table-form >ul.dragging > li {
	background: #fefefe !important;
}
#category-hierarchy-tree.table-form {
	//max-height: 70vh;
	overflow-y: auto;
	padding-right: 0;
}


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 200px 0; }
}


#category-hierarchy-tree {
	width: 100%;
	box-sizing: border-box;
	&:not(.display-only) ul li:hover span.inner-container {
				color: rgba(0, 0, 0, 0.95);
	}
	> ul:not(.dragging) span.open-button:hover {
		background: white;
		border: 2px solid rgba(0, 0, 0, 0.15);
	}
	> ul:not(.dragging) li:hover span.drag-handle {
		opacity: 1;
	}

	ul {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 100%;
		padding: 0;
		//padding-left: 30px;
		
		&.limit-height {
			max-height: 530px;
			overflow-y: scroll;
		}

		li {

			&.new-category {
				box-sizing: border-box;
				border: 2px solid rgba(0, 0, 0, 0);
				padding-left: 38px;
				display: flex;
				align-items: center;
				padding-top: 4px;
				padding-bottom: 4px;
				user-select: none;
				.category-name {
					&.disabled {
						pointer-events: none;
						opacity: 0.2;
					}
					background: $button-blue;
					color: white;
					border-radius: 4px;
					font-size: 14px;
					padding: 0 20px;
					&:hover {
						background: lighten($button-blue, 7);
					}
					&:active {
						transform: translate(0px, 1px);
					}
				}
				// &:hover {
				// 	color: #111;
					
				// 	background-blend-mode: multiply;
				// 	background-image: url($base_url + 'images/stripes-light.png') !important;
				// 	animation: animatedBackground 20s linear infinite !important;
				// 	border: 2px solid rgba($button-blue, 0.35);
				// }
				
				//user-select: none;
				//cursor: pointer !important;
				color: #555;
				i {
					margin-right: 15px;

				}
				.category-name {
					width: 100% !important;
					text-align: center;	
					cursor: pointer !important;				
				}
			}

			padding: 0;
			box-sizing: border-box;
			margin: 0;
			width: 100%;
			display: block;
			user-select: none;
			color: #666;
			position: relative;

			span.inner-container {
				display: flex;

				.category-name {
					width: 100%;
				}
			}
			span.open-button {
				margin-right: 0px;
				cursor: pointer;
				border-radius: 4px;
				padding: 1px 4px;
				margin-left: 8px;
				border: 2px solid rgba(0, 0, 0, 0);
				height: 1.5em;
				margin-top: 3px;
				font-size: 0.8em;				
				&:active {
					transform: translate(0px, 2px);
				}
				&.no-children-yet {
					color: rgba(0, 0, 0, 0.15);
				}
				&.hidden {
					pointer-events: none;
					visibility: hidden;
				}
			}

			
			span.left {
				width: 100%;
				display: flex;

			}


			.category-name, .description {
				box-sizing: border-box;
				cursor: pointer;
				width: 100%;
				padding: 4px 6px;
				
				//margin-left: 6px;
				display: block;
				position: relative;
				//border: 1px solid rgba(0, 0, 0, 0);
				height: 100%;
				background: none;
				font-size: 20px;
				&.modifiable {
					padding-top: 0;
					padding-bottom: 0;
				}

				&.has-hotkey:after{
					content: attr(data-hotkey-id);
					position: absolute;
					right: 6px;
					top: 6px;
					font-size: 0.6em;
					padding: 2px 4px;
					background: white;
					border: 2px solid #eee;
					border-radius: 4px;
					min-width: 16px;
					text-align: center;
					//transition: background-position 0s;
					//background-size: 100% 200%;

					

				}


				input {

					padding: 4px 8px;
					font-size: 20px;
					cursor: text;
					border: 2px solid rgba(0, 0, 0, 0);
					border-radius: 3px;
					display: block;
					background: none;
					//background: green;
					width: 100%;
					box-sizing: border-box;
					color: rgba(0, 0, 0, 0.85);
					//background: green;
					&::placeholder {
						color: rgba(0, 0, 0, 0.35);
					}
					&.empty, &.error {
						border: 2px solid $primary-red;
						background: rgba($primary-red, 0.1);
						&:hover {
							border: 2px solid lighten($primary-red, 10);
							background: rgba($primary-red, 0.1);
						}
						&:focus {
							background: white;
							border: 2px solid $button-blue;
						}
					}

				}
				input:hover, input:focus {
					border: 2px solid #ddd;
					outline: none !important;
					background: white;
					&::placeholder {
						color: rgba(0, 0, 0, 0.35);
					}

				}
				input:focus {
					border: 2px solid $button-blue;
				}


				
			}
		
			
			
			span.drag-handle {
				width: 24px;	// The width of the drag handle is much larger than it appears to make it easier to click
				display: inline-block;
				height: calc(100% - 12px);
				margin-top: 6px;
				margin-left: -15px;
				position: absolute;
				opacity: 0;
				&:before {	// Pseudo elements are necessary to draw the borders correctly
					border-left: 2px dotted #aaa;
					content: " ";
					
					height: 100%;
					width: 4px;
					position: absolute;
					top: 0;
					left: 10px;
					pointer-events: none;
				}
				&:after {
					border-left: 2px dotted #aaa;
					content: " ";
					height: 100%;
					width: 4px;
					position: absolute;
					top: 0;
					left: 14px;
					pointer-events: none;
				}

			}
			ul {
				&.hidden {
					display: none;
				}
				
				li {
					display: block;
				}
			}

		}

	}
	> ul > li > ul  li  {
		padding-left: 35px;
		box-sizing: border-box;
	}

	> ul > li > span.inner-container {
	 	//padding-left: 15px;
		box-sizing: border-box;
	}
	> ul > li {
		padding-left: 15px;
	}

}