
// Drag and drop code and css found here:
// https://css-tricks.com/examples/DragAndDropFileUploading/

.upload-widget {
	.container
	{
		width: 100%;
		max-width: 680px; /* 800 */
		text-align: center;
		margin: 0 auto;
	}

	.container h1
	{
	font-size: 42px;
	font-weight: 300;
	color: #0f3c4b;
	margin-bottom: 40px;
	}
	.container h1 a:hover,
	.container h1 a:focus
	{
	color: #39bfd3;
	}

	.container nav
	{
	margin-bottom: 40px;
	}
	.container nav a
	{
		border-bottom: 2px solid #c8dadf;
		display: inline-block;
		padding: 4px 8px;
		margin: 0 5px;
	}
	.container nav a.is-selected
	{
		font-weight: 700;
		color: #39bfd3;
		border-bottom-color: currentColor;
	}
	.container nav a:not( .is-selected ):hover,
	.container nav a:not( .is-selected ):focus
	{
		border-bottom-color: #0f3c4b;
	}

	.container footer
	{
	color: #92b0b3;
	margin-top: 40px;
	}
	.container footer p + p
	{
		margin-top: 1em;
	}
	.container footer a:hover,
	.container footer a:focus
	{
		color: #39bfd3;
	}

	.box
	{
	font-size: 1.25rem; /* 20 */
	background-color: #c8dadf;
	position: relative;
	padding: 100px 20px;
	}
	.box.has-advanced-upload
	{
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
	}
	.box.is-dragover
	{
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
	}
	.box__dragndrop,
	.box__icon
	{
		display: none;
	}
	.box.has-advanced-upload .box__dragndrop
	{
		display: inline;
	}
	.box.has-advanced-upload .box__icon
	{
		width: 100%;
		height: 80px;
		fill: #92b0b3;
		display: block;
		margin-bottom: 40px;
	}

	.box.is-uploading .box__input,
	.box.is-success .box__input,
	.box.is-error .box__input
	{
		visibility: hidden;
	}

	.box__uploading,
	.box__success,
	.box__error
	{
		display: none;
	}
	.box.is-uploading .box__uploading,
	.box.is-success .box__success,
	.box.is-error .box__error
	{
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		text-align: center;

		-webkit-transform: translateY( -50% );
		transform: translateY( -50% );
	}
	.box__uploading
	{
		font-style: italic;
		text-align: center;
	}
	.box__success
	{
		text-align: center;
		-webkit-animation: appear-from-inside .25s ease-in-out;
		animation: appear-from-inside .25s ease-in-out;
	}
		@-webkit-keyframes appear-from-inside
		{
			from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
			75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
			to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
		}
		@keyframes appear-from-inside
		{
			from	{ transform: translateY( -50% ) scale( 0 ); }
			75%		{ transform: translateY( -50% ) scale( 1.1 ); }
			to		{ transform: translateY( -50% ) scale( 1 ); }
		}

	.box__restart
	{
		font-weight: 700;
	}
	.box__restart:focus,
	.box__restart:hover
	{
		color: #39bfd3;
	}

	.js .box__file
	{
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.js .box__file + label
	{
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		display: block;
		overflow: hidden;
		margin: 0 auto;
		max-width: 60%;
		text-align: center;
	}
	.js .box__file + label:hover strong,
	.box__file:focus + label strong,
	.box__file.has-focus + label strong
	{
		color: #39bfd3;
	}
	.js .box__file:focus + label,
	.js .box__file.has-focus + label
	{
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;
	}
		.js .box__file + label *
		{
			/* pointer-events: none; */ /* in case of FastClick lib use */
		}

	.no-js .box__file + label
	{
		display: none;
	}

	.no-js .box__button
	{
		display: block;
	}
	.box__button
	{
		font-weight: 700;
		color: #e5edf1;
		background-color: #39bfd3;
		display: none;
		padding: 8px 16px;
		margin: 40px auto 0;
	}
		.box__button:hover,
		.box__button:focus
		{
			background-color: #0f3c4b;
		}

	i.upload-icon, i.check-icon {
		font-size: 90px;
		text-align: center;
		display: block;
		margin-bottom: 20px;
		color: #92b0b3;
		position: relative;
		&:after {
			position: absolute;
			top: 2px;
			left: 2px;
			content: "\f093";
			color: darken(#92b0b3, 10);
			width: 100%;
			text-align: center;
			z-index: -10;
		}
	}
	i.check-icon:after {
		content: "\f00c";
	}


	.progress-bar-container {
		width: 90%;
		position: absolute;
		bottom: 40px;
		left: 5%;
		height: 45px;
		display: none;
		box-sizing: border-box;
		border: 2px dashed #92b0b3;
		transition: opacity 0.4s ease;
		&.fade-out {
			opacity: 0;
		}

		.progress-percent-complete {
			width: 100%;
			text-align: center;
			position: absolute;
			z-index: 12;
			top: 3px;
			left: 0;
		}

		.progress-bar {
			
			position: relative;			
			height: 100%;
			z-index: 0;


			&:after {
				content: " ";
				background: lighten(#c8dadf, 10);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				z-index: -1;
			}
		}
			
		.progress-bar-fill {
			background: darken(#c8dadf, 3);
			height: 100%;
			width: 0%;
			z-index: 10;
			transition: width 0.2s, ease;
			position: absolute;
			top: 0;
			left: 0;
		
		}
		.progress-bar-2-fill {
			background: darken(#c8dadf, 8);
			height: 100%;
			width: 0%;
			z-index: 11;
			transition: width 0.2s, ease;
		}


	}

	.box.is-uploading .progress-bar-container {
		display: block;
	}


	.box__success {

		width: 100%;

		> * {
			vertical-align: middle;
		}

		.box__success_left {
			display: table-cell;
			width: 40%;
			padding-right: 30px;
			box-sizing: border-box;
			.check-icon {
				float: right;
				font-size: 110px;
			}
		}
		.box__success_right {
			display: table-cell;
			width: 60%;	
			padding-left: 30px;
			box-sizing: border-box;
			text-align: left;
			.box__success_message {
				float: left;
				.box__success_details {
					margin: 0 auto;
					margin-top: 20px;
					text-align: left;
					table {
						width: 100%;
						td:first-child {
							padding-right: 10px;
						}
						td:nth-child(2) {
							padding-left: 10px;
						}
					}
				}
				.box__success_restart {
					margin-top: 20px;
				}
			}

		}
	}
	.box.is-success .box__success {
		display: table;
	}

	span.tokenization-time-info {
		font-size: 16px;
		font-style: normal;
		position: absolute;
		left: 0;
		bottom: -65px;
		width: 100%;
		line-height: 165%;
	}


}
