#tagging-container {
	width: 1152px;
	padding-top: 120px;
	padding-left: 100px;
	padding-bottom: 300px;
	max-width: 100%;
}
#sentence-tagging, #ending-message {
	font-size: 32px;
	color: #333;
	line-height: 220%;
}

#sentence-tagging .sentence {
	margin-bottom: 80px;
	transition: margin-top 0.2s linear;
	margin-top: 0;
	transition: opacity 0.5s ease;
	position: relative;
	&:before {
		position: absolute;
		left: -105px;
		top: calc(50% - 34px);
		vertical-align: middle;
		content: attr(data-ind1);
		color: #bbb;
		pointer-events: none;
		font-size: 22px;
		display: table-cell;
		padding: 0 20px;
		text-align: right;
	}
	&:after {
		border-left: 2px solid #ddd;
		position: absolute;
		left: -40px;
		top: 0;
		height: 100%;
		content: " ";
		opacity: 0;
	}
	&.selected {
		&:before {
			//color: $primary-blue;
		}
		&:after {
			//border-left: 2px solid $primary-blue;
			opacity: 1;
		}
	}
}
#sentence-tagging .sentence .word, #sentence-tagging .sentence .punctuation {
	background: none;
	padding: 0px 10px;
	position: relative;
	word-wrap: normal;
	display: inline-block;
	margin: 10px 0;

}
#sentence-tagging .sentence .punctuation {
	color: #ccc;
}

/* $color-list: #99FFCC, #FFCCCC, #CCCCFF, #CCFF99, #CCFFCC, #CCFFFF, #FFCC99, #FFCCFF, #FFFF99, #FFFFCC, #CCCC99, #fbafff, #ffbfaf, #c6ffcb;  */

#sentence-tagging span:not(.tag):not(.selected) {
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
#sentence-tagging .sentence .word {
	z-index: 0;
}
#sentence-tagging .sentence .word.tag::before {
	content: attr(data-content);
	width: 100%;
	height: 100%;
	top: -1px;
	left: 0;
	position: absolute;
	z-index: -1;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	font-size: 10px;
	line-height: 125px;
	font-weight: bold;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
#sentence-tagging .sentence .word.tag:nth-child(odd):before {
	//line-height: 14px;
}

#sentence-tagging .sentence .word.tag-1::before { background: #99FFCC; }
#sentence-tagging .sentence .word.tag-2::before { background: #FFCCCC; }
#sentence-tagging .sentence .word.tag-3::before { background: #CCCCFF; }
#sentence-tagging .sentence .word.tag-4::before { background: #CCFF99; }
#sentence-tagging .sentence .word.tag-5::before { background: #CCFFCC; }
#sentence-tagging .sentence .word.tag-6::before { background: #CCFFFF; }
#sentence-tagging .sentence .word.tag-7::before { background: #FFCC99; }
#sentence-tagging .sentence .word.tag-8::before { background: #FFCCFF; }
#sentence-tagging .sentence .word.tag-9::before { background: #FFFF99; }
#sentence-tagging .sentence .word.tag-0::before { background: #FFFFCC; }
#sentence-tagging .sentence .word.tag-a::before { background: #CCCC99; }
#sentence-tagging .sentence .word.tag-b::before { background: #fbafff; }

#sentence-tagging .sentence .word.selected::after {
	background: rgba(230, 230, 230, 0.8);
	content: " ";
	width: 100%;
	height: 100%;
	top: -1px;
	left: 0;
	position: absolute;
	z-index: -1;
	border: 1px solid #bbb;
}
#sentence-tagging .sentence .word.selected.tag::after {
	background-blend-mode: color-dodge;
	background: rgba(255, 255, 255, 0.6);
}


#sentence-tagging .sentence.selected {
	opacity: 1;
}

#sentence-tagging .sentence .word.selected.chain:before {
	content: " ";
	background: #dedede;
	top: 0;
	position: absolute;
	width: 12px;
	height: 100%;
	right: -10px;
}

#feather-overlay {
	position: fixed;
	top: 40px;
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0));
	height: 210px;
	z-index: 100;
	width: 100%;
	display: none;
}
@media(max-width: 1400px) {
	nav#legend {
		display: none;
	}
}
// nav#navbar {
// 	position: fixed;
// 	top: 0px;
// 	width: 100%;
// 	z-index: 1000;
// 	background: #eee;
// 	padding: 15px 0;
// }

// nav#navbar .navbar-left {
// 	position: absolute;
// 	right: 0;
// 	left: 0;	
// 	width: 20%;			
// 	margin-left: 12px;
// }
#logo {
	font-weight: bold;
}

// nav#navbar .navbar-right {
// 	position: absolute;
// 	right: 0;
// 	top: 0;	
// 	margin-top: 5px;
// 	margin-right: 8px;	
// 	/*width: 190px;	*/	
// }
// nav#navbar .navbar-right input, nav#navbar .navbar-right button {
// 	height: 36px;
// }

button#save-to-file {
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;	
	margin-left: 10px;
}


input#jump-to-batch {
	padding-left: 8px;
	width: 135px;
}
button#jump-to-batch-go {
	width: 40px;
	text-align: center;	
	cursor: pointer;

}

nav#legend {
	box-sizing: border-box;
	width: 100%;
	padding: 0 40px;
	font-size: 24px;
	color: #222;
	margin-top: 50px;


}
nav#legend ul, nav#hotkeys ul {
	list-style: none;
	padding-left: 0px;
}
nav#hotkeys {
	position: fixed;
	bottom: 0;
	left: 0;
	color: #444;
	font-size: 12px;
	padding: 0 70px;
}

/* $color-list: #99FFCC, #FFCCCC, #CCCCFF, #CCFF99, #CCFFCC, #CCFFFF, #FFCC99, #FFCCFF, #FFFF99, #FFFFCC, #CCCC99, #fbafff, #ffbfaf, #c6ffcb;  */
nav#legend ul li {
	padding: 2px 8px;
	margin-bottom: 6px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
nav#legend ul li:nth-child(1) { background: #99FFCC; }
nav#legend ul li:nth-child(2) { background: #FFCCCC; }
nav#legend ul li:nth-child(3) { background: #CCCCFF; }
nav#legend ul li:nth-child(4) { background: #CCFF99; }
nav#legend ul li:nth-child(5) { background: #CCFFCC; }
nav#legend ul li:nth-child(6) { background: #CCFFFF; }
nav#legend ul li:nth-child(7) { background: #FFCC99; }
nav#legend ul li:nth-child(8) { background: #FFCCFF; }
nav#legend ul li:nth-child(9) { background: #FFFF99; }
nav#legend ul li:nth-child(10) { background: #FFFFCC; }
nav#legend ul li:nth-child(11) { background: #CCCC99; }
nav#legend ul li:nth-child(12) { background: #fbafff; }

#sentence-counter, #saving-notification, #loading-notification, #ending-notification {			
	
	text-align: center;
	font-size: 16px;
	color: #555;
	width: 100%;
	display: none;
}
#loading-notification {
	display: block;
}

span#group-number {
	font-weight: bold;
}
span#group-total {
	font-weight: bold;
}
span#saving-filename {
	font-weight: bold;
}
#saving-notification {
	display: none;
}
#jump-to-batch-error {
	position: absolute;
	right: 0;
	top: 50px;
	border: 1px solid #936161;
	color: #222;
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
	background: #FFCCCC;
	display: none;
}
#jump-to-batch-error:before {
	content: " ";
	top: -11px;
	left: 80px;
	height: 10px;
	position: absolute;
		width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #936161 transparent;
}
#jump-to-batch-error:after {
	content: " ";
	top: -10px;
	left: 80px;
	height: 10px;
	position: absolute;
		width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #FFCCCC transparent;
}


span.word::selection, span.word::-webkit-selection {
  background: lighten($primary-blue, 40); /* WebKit/Blink Browsers */
}
span.punctuation::selection, span.punctuation::-webkit-selection {
  background: lighten($primary-blue, 40); /* WebKit/Blink Browsers */
}
span.word::-moz-selection {
  background: lighten($primary-blue, 40); /* Gecko Browsers */
}
span.punctuation::-moz-selection {
  background: lighten($primary-blue, 40); /* Gecko Browsers */
}



span.word.selected::selection, span.word.selected::-webkit-selection {
  background: rgba(0, 0, 0, 0); /* WebKit/Blink Browsers */
}
span.punctuation.selected::selection, span.punctuation.selected::-webkit-selection {
  background: rgba(0, 0, 0, 0); /* WebKit/Blink Browsers */
}
span.word.selected::-moz-selection {
  background: rgba(0, 0, 0, 0); /* Gecko Browsers */
}
span.punctuation.selected::-moz-selection {
  background: rgba(0, 0, 0, 0); /* Gecko Browsers */
}



#entity-categories-window.tagging {
	width: 80%;
	left: 10%;
	top: 7%;
	transition: none;
	z-index: 100001;
}

#entity-categories-window.tagging ~ * {
	//transition: all 0.2s ease;
}

#entity-categories-window.tagging.show ~ * {
	filter: blur(2px);
	pointer-events: none;
}

#window-mask {
	background: black;
	opacity: 0;
	pointer-events: none;
	z-index: 100000;
	position: fixed;
	top: 0;
	left: 0;
	background-blend-mode: multiply;
	//transition: opacity 0.2s ease;
	width: 100%;
	height: 100%;
}
#entity-categories-window.tagging.show ~ #window-mask {
	opacity: 0.4;
	pointer-events: auto;

}


.tagging ~ #main-container {
	background: url('/images/stripes-light.png');
	width: 100%;
	main {
		width: 78%;
		margin: 0;
		margin-left: 22%;
		background: #f6f6f6;
		min-height: 80vh;
		padding: 0 80px 0 40px;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		box-sizing: border-box;
	}
}

#tagging-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 22%;
	z-index: 1000;
	margin-top: $navbar-height;
	input {		
		width: 100%;
		margin: 0;
	}
	.category-hierarchy {
		width: 100%;
		padding: 0px;

	}
	.category-tree {
		width: 66.66666%;
	}

	.tokens-info {
		padding: 15px;
		background: white;
		border-bottom: 1px solid #ddd;
		font-size: 0.8em;
		margin-bottom: 20px;
		background: #f6f6f6;		
		p {
			margin: 0;
		}
		.tokens {
			font-weight: bold;
			font-size: 1.3em;
			margin-bottom: 10px;
		}
		.summary {
			color: #555;
			min-height: 110px;
			.different {
				color: $primary-blue;
			}
			
		}
		span.more {
			&.show {
				opacity: 1;
				pointer-events: auto;
			}
			opacity: 0;
			pointer-events: none;
			margin-top: 10px;
			display: block;
			span.left {
				font-style: italic;
				color: #aaa;
			}
			span.right {
				float: right;
				text-align: right;
				i {
					margin-left: 2px;
				}
			}
			
			
			a {
				color: $primary-blue;
				text-decoration: none;
				&:hover {
					color: lighten($primary-blue, 5);
					text-decoration: underline;
				}
			}
		}
	}
	.label-search {
		padding: 0px 20px;
	}
}



#category-hierarchy-tree {
	overflow-y: scroll;
	height: 60vh;
	margin-top: 10px;

}
#category-hierarchy-tree-no-results {
	display: none;
	color: #999;
	padding: 14px 24px;
}
.jstree {
	padding: 0 20px;
	ul {
		margin-top: 0;
		padding: 0;
		li {
			list-style: none;
			&.jstree-hidden {
				display: none;
			}
			&.jstree-closed > a {
				&:before {
					font-family: FontAwesome;
					display: inline;
					content: "\f078";
					margin-right: 7px;
					font-size: 0.9em;
				}
			}
			&.jstree-open > a {
				&:before {
					font-family: FontAwesome;
					display: inline;
					content: "\f077";
					margin-right: 7px;
					font-size: 0.9em;
				}
			}
			a {
				color: #999;
				display: block;
				padding: 4px 6px;
				&:hover {
					color: #222;
				}
				&.jstree-clicked {
					background: lighten($primary-blue, 40);
					color: #222;
					outline: none;
					padding: 4px 6px;
				}
			}
			ul {
				a {
					padding: 4px 20px;
				}
			}
			.jstree-search {
				color: #444;
			}

		}
	}
	
	a {
		color: #333;
		text-decoration: none;
	}
}


.jstree > ul > li.color-1 { border-left: 3px solid #99FFCC; }
.jstree > ul > li.color-2 { border-left: 3px solid #FFCCCC; }
.jstree > ul > li.color-3 { border-left: 3px solid #CCCCFF; }
.jstree > ul > li.color-4 { border-left: 3px solid #CCFF99; }
.jstree > ul > li.color-5 { border-left: 3px solid #CCFFCC; }
.jstree > ul > li.color-6 { border-left: 3px solid #CCFFFF; }
.jstree > ul > li.color-7 { border-left: 3px solid #FFCC99; }
.jstree > ul > li.color-8 { border-left: 3px solid #FFCCFF; }
.jstree > ul > li.color-9 { border-left: 3px solid #FFFF99; }
.jstree > ul > li.color-10 { border-left: 3px solid #FFFFCC; }
.jstree > ul > li.color-11 { border-left: 3px solid #CCCC99; }
.jstree > ul > li.color-12 { border-left: 3px solid #fbafff; }


.jstree li.color-1 a:hover  { background: #99FFCC; }
.jstree li.color-2 a:hover  { background: #FFCCCC; }
.jstree li.color-3 a:hover  { background: #CCCCFF; }
.jstree li.color-4 a:hover  { background: #CCFF99; }
.jstree li.color-5 a:hover  { background: #CCFFCC; }
.jstree li.color-6 a:hover  { background: #CCFFFF; }
.jstree li.color-7 a:hover  { background: #FFCC99; }
.jstree li.color-8 a:hover  { background: #FFCCFF; }
.jstree li.color-9 a:hover  { background: #FFFF99; }
.jstree li.color-10 a:hover { background: #FFFFCC; }
.jstree li.color-11 a:hover { background: #CCCC99; }
.jstree li.color-12 a:hover { background: #fbafff; }

.jstree li.color-1 a.jstree-clicked  { background: #99FFCC; }
.jstree li.color-2 a.jstree-clicked  { background: #FFCCCC; }
.jstree li.color-3 a.jstree-clicked  { background: #CCCCFF; }
.jstree li.color-4 a.jstree-clicked  { background: #CCFF99; }
.jstree li.color-5 a.jstree-clicked  { background: #CCFFCC; }
.jstree li.color-6 a.jstree-clicked  { background: #CCFFFF; }
.jstree li.color-7 a.jstree-clicked  { background: #FFCC99; }
.jstree li.color-8 a.jstree-clicked  { background: #FFCCFF; }
.jstree li.color-9 a.jstree-clicked  { background: #FFFF99; }
.jstree li.color-10 a.jstree-clicked { background: #FFFFCC; }
.jstree li.color-11 a.jstree-clicked { background: #CCCC99; }
.jstree li.color-12 a.jstree-clicked { background: #fbafff; }