extends layout

block content
	article.features-list
		h2 List of current features (v1.0, 5 April 2019)

		p Below is a list of features that are currently present in Redcoat.

		ul
			li Project Setup page
				ul
					li Create annotation projects for Entity Recognition on the Setup Project page
					li Automatic tokenisation of data, with summary of number of tokens/documents
					li Create a concept hierarchy via an interactive tree, or alternatively via text input
					li Multiple built-in hierarchies: NER, FIGER, Mining
					li New project and associated data is persistent across refreshes
			li Projects page
				ul
					li Sort, search, and filter projects
					li Detailed project summary
			
			li Annotation interface
				ul
					li Annotate projects via an intuitive user interface
					li Keyboard support on the annotation interface (hotkeys, selection with arrow keys)
					li Wikipedia summary of words in the annotation interface
					li Search/filter category hierarchy to quickly find the relevant entity category
			
			

		h2 Upcoming features

		h3 Pre-release
		
		p The features below have yet to be added to Redcoat and will be added prior to release.

		ul
			li.done Correct presentation of "Your projects" and "Projects you've joined" on the Projects page (it is currently randomised)
			li.done Save annotation results to the database
			li.done Allow project owners to download annotation results
			li.done "Overlap" between annotators, so each document may be annotated more than once
			li.done A progress bar on the annotation interface so users know how many documents remain
			li.done A list of annotators on the Project summary page
			li.done Better "recommendation" of document groups for annotator, based on group that was recommended last (to minimise the chance of two people getting the same group)
			li.done Update Project schema to have active, inactive, invited, and declined users
			li.done Display project details page differently depending on whether user owns project or not
			li.done Links to most recently-annotated projects under "Projects" in the navigation bar
			li.done Display a list of annotators on the project details page (only viewable by project creator)
			li.done Present a message when annotator has no documents left to annotate
			li.done Refresh projects table when accepting an invitation		
			li.done Allow project owners to download all annotation results at once (not just per-user). The annotations downloaded are the most commonly-given labels across all annotators of the project
			li.done Safeguarding against user attempting to load project they don't belong to			
			li.done Distribute annotation projects to annotators via email
				ul
					li An "invitation system" whereby Redcoat automatically sends invitations to users upon a project's creation, for them to accept or decline
					li Integration with Sendgrid
					// The invitation system just needs a new Invitation schema with two fields: email and project_id
					// No need for user_id, as email is unique as well (remember to put index on it)
					// Can retrieve all a User's invitations with a simple query (find all invitation where email = user.email)
					// A mailer will send out email invitations to users upon a project's creation. If the email already exists, invitation
					// may look different (i.e. "You have been invited to annotate project '...', click here to accept or decline the invitation" vs "You have been invited to annotate project '...', click here to sign up to Redcoat to begin annotating").
					// Upon accepting an Invitation, the user_id of the accepting user is added to the project's user_ids array, and that invitation is destroyed
					// (declining an invitation simply destroys that invitation).	
			li.done Password reset link
			li.done Nicer error display on setup project page and redirection to project upon submission
			li Further testing of all features listed above	

		h3 Post-release

		p The features below will be added after the initial release. The features are listed in descending order of importance.
		ul
			li User profile page
			li Modify category hierarchy during annotation
			
			li Ability to "undo" the declining of invitations
			li Project creators can remove annotators from project (mark them as inactive), resend invitations, and invite new annotators
			li Project creators can specify whether a user should be able to exceed 100% annotation progress (i.e. annotate records meant for other annotators when they've finished theirs)
			li Modify project settings on the Project summary page
			li Automatic tagging of frequently-tagged words
			li More concept hierarchies, such as medical
			li Visualisation of annotation results for project creators
			li Visualisation of annotator activity on Project page
			li A history of edits to the category hierarchy of a project, available to either the project creator or perhaps all annotators
			li Make it possible for the project creator to not also be an annotator (?)
			li Notification of when you have annotated 100% of documents but there are still documents left to annotate (i.e. progress over 100%), rather than simply continuing at 4/3 progress, for example			
			li Add "inter-rater reliability" scoring for annotators of a project
			li When there is no most-frequent label of a token, the annotation of the user with the highest inter-rater reliability score should be chosen
			li Support for the annotation of other NLP tasks, such as Lexical Normalisation
			li Allow project creators to browse their annotators' annotations in-browser
			li Put a crown symbol or something similar next to the project creator's name in the Invitations and Annotations lists
			li Better display on mobile devices
			li Further work on Sendgrid email template to make it look nicer
			li A "Project created!" notification banner upon creating a new project
			li Gamification, i.e. the ability to earn "points" during annotation and increase ranking
			
		

		h3 Attributions
		p The pencil icon on the tagging interface was made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.

		div(style="height: 300px")
			
