extends layout

block content
	section#welcome
		h1#h1-welcome(data-content="Redcoat") Redcoat
		h2#h2-byline(data-content="Collaborative Annotation Tool") Collaborative Annotation Tool
		div.buttons
			a(href="" + base_url + "/register")
				div.button#register-button
					h2
						//i.fa.fa-plus-circle
						| Register
			a(href="" + base_url + "/login")
				div.button#login-button
					h2
						//i.fa.fa-plus-circle
						| Login
	canvas#background(height="1080" width="1920")

block scripts
	script.
		
		$(window).on('load', function() {
			console.log('test')
			var canvas = $("#background")[0]
			var ctx = canvas.getContext("2d")
			validChars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
			lipsumStr = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,"
			lipsum = lipsumStr.split(". ")

			var Background = {
				numberHeight: 40,
				numberWidth: 40,
				screenWidth: $(window).width(),
				screenHeight: $(window).height(),
				
				init: function() {
					console.log(this.ctx)
					ctx.font = '32px Droid Sans Mono'
					ctx.fillStyle = "rgb(250, 139, 91)"
					redraw = function() {

						generateString = function() {
							var arr = []
							for(var i = 0; i < 5; i++) {
								arr.push(lipsum[Math.floor(Math.random() * lipsum.length)] + ". ")
							}
							return arr.join("")


						}

						ctx.clearRect(0, 0, canvas.width, canvas.height);
						for(var y = 0; y < 32; y++) {
							ctx.fillText(generateString(), 10, 90+(32*y))
						}					
					}
					redraw()
					$("#background").addClass("fade-in")

					window.setInterval(redraw, 1000)

				}



			}
			Background.init()






		})
		
		


	
