<!DOCTYPE html>
html
	head
		
		title Redcoat - #{title}
		link(rel='stylesheet', href="" + base_url + "stylesheets/stylesheet.css")
		link(rel='shortcut icon', href="" + base_url + "images/favicon.png")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")


		script(src="" + base_url + "javascripts/jquery-3.2.1.min.js")

		block head

		if !user && !whitebg
			body.homepage
		else
			body

		block entity_categories_window

		include partials/navbar

		block header

		block sidenav

		div#main-container
			main#main
				if showLoadingScreen
					div(id="loading-screen")
						div(class="loading") Loading...			
				block content
		

		script.
			csrfToken = "#{csrfToken}";
			BASE_URL = "#{base_url}";
			(function() {


				var $invitationsMenu = $("#invitations-menu");
				var $invitationsButton = $("#invitations-button");
				var $invitesCount = $("#invites-count");
				var invitesCountNum = $invitesCount.html();

				$("#invitations-menu > *").click(function(e) {
					$invitationsButton.focus();
				});

				$("#invitations-menu button").click(function(e) {
					

					var t = $(this);
					var $form = t.parent("form");
					var formAction = t.attr("formaction");
					var url = $form.attr("action") + formAction;
					console.log(url);

					$form.addClass("hide");
					
					$loading = $form.parent("span.invite").find("span.invite-form-loading").first();
					$accepted = $form.parent("span.invite").find("span.invite-form-accepted").first();
					$declined = $form.parent("span.invite").find("span.invite-form-declined").first();

					$loading.addClass("show");
					$.ajax({
						url: 			url,
						type:			'POST',
						data: 			{ val: $form.value },
						dataType: 		"json",
						headers: { 'csrf-token': csrfToken },
						success: function( data )
						{



							console.log("success");
							$loading.removeClass("show");

							if(formAction == "/accept") {
								$accepted.addClass("show");
							} else if(formAction == "/decline") {
								$declined.addClass("show");
							}

							invitesCountNum--;
							$invitesCount.html(invitesCountNum);
							if(invitesCountNum == 0) {
								$invitesCount.hide();
								$invitationsMenu.addClass("inactive");
							}
							
						},
						error: function(data) {
							console.log(data);
						}
						});	
					e.preventDefault();
				});

			})();

		block scripts


		footer
			.container
				p &copy; NLP Tools 2018.

