<!DOCTYPE html>
html
	head
		
		title Redcoat - #{title}
		link(rel='stylesheet', href="" + base_url + "stylesheets/stylesheet.css")
		link(rel='shortcut icon', href="" + base_url + "images/favicon.png")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")


		script(src="" + base_url + "javascripts/jquery-3.2.1.min.js")

		block head

		if !user && !whitebg
			body.homepage
		else
			body

		block entity_categories_window

		include partials/navbar

		block header

		block sidenav

		div#main-container
			main#main
				if showLoadingScreen
					div(id="loading-screen")
						div(class="loading") Loading...			
				block content
		

		script.
			csrfToken = "#{csrfToken}";
			BASE_URL = "#{base_url}";


		script(src="" + base_url + "javascripts/invitations.js")
		block scripts


		//- footer
		//- 	.container
		//- 		p &copy; NLP Tools 2018.

