extends layout

block head
	<link rel='stylesheet' href="#{base_url}stylesheets/datatables/datatables.css" />

block header
	header.bg-header
		div#header-project-list.title.can-fade
			h1 Projects
			div.right
				a.button(href="" + base_url + "setup-project") <i class="fa fa-plus-circle"></i>New project
		div#header-project-details.title.can-fade
			h1#d-project_name ---
			div.left
				a#back-to-projects.button(href="javascript:void(0)") <i class="fa fa-chevron-left"></i>Projects
			div.right
				a#annotate-project-button.button(href="" + base_url + "") <i class="fa fa-pencil"></i>Annotate project
		canvas#background(height="120px" width="1920")

block sidenav

	nav#sidenav.sidenav-project

		ul#sidenav-project-details.project-details
			li#li-details.current
				a(href="#details") <i class="fa fa-info-circle"></i>Details
			li#li-hierarchy
				a(href="#hierarchy") <i class="fa fa-tree"></i>Category Hierarchy
			li#li-invitations.admin-only-tab
				a(href="#invitations") <i class="fa fa-envelope"></i>Invitations
			li#li-annotations.admin-only-tab
				a(href="#annotations") <i class="fa fa-list-alt"></i>Annotations
			li#li-metrics.disabled.admin-only-tab
				a() <i class="fa fa-bar-chart"></i>Metrics
			li#li-settings.disabled.admin-only-tab
				a() <i class="fa fa-wrench"></i>Settings


	
		ul#sidenav-project-list
			li#li-projects-display
				span
					label(for="projects-display") <i class="fa fa-align-justify"></i>Display
					select(id="projects-display")
						option(value="list" selected) List view
						option(value="detailed") Detailed view

			li#li-search-projects
				span
					label(for="projects-search") <i class="fa fa-search"></i>Search projects
					input(id="projects-search" placeholder="Search...")
			li#li-filter-projects
				span
					label(for="projects-filter") <i class="fa fa-filter"></i>Project creator
					select(id="projects-filter")
						option(value="") Anyone
						option(value="Your projects") Your projects
						option(value="Projects you've joined") Joined projects
						//option(value="Global projects") Global projects
			li#li-sort-projects
				span
					label(for="projects-sort") <i class="fa fa-sort-amount-desc"></i>Sort projects
					span.sort-container
						select(id="projects-sort")
							option(value="0") Project name
							option(value="1" selected) Date created
							option(value="2") # Annotators
							option(value="3") Your progress
							option(value="4") Global progress

						a.button.sort-button#sort-order-button <i class="fa fa-sort-down"></i>


block content

	div#dashboard

		div#loading-table.loading-item.show
			<i class="fa fa-cog fa-spin"></i>Loading...

		include project-details

		div#project-list
			table#projects-table.not-loaded.detailed-view
	

block scripts
	script(src="" + base_url + "javascripts/d3/d3.min.js")
	script(src="" + base_url + "javascripts/d3/d3-context-menu.js")
	script(src="" + base_url + "javascripts/shared/hierarchy_validator.js")
	script(src="" + base_url + "javascripts/datatables/datatables.min.js")
	script(src="" + base_url + "javascripts/lipsumBG.js")
	script(src="" + base_url + "javascripts/jquery.cookie.js")
	script(src="" + base_url + "javascripts/category-tree-visualisation.js")

	script(src="" + base_url + "javascripts/projects.js")
